// Scrollable Container
//
// side nav to the left of main-container, often used to control the main-container

.scrollable-container {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
  }
  
  @media (min-width: 768px) {
    .offcanvas-left > .scrollable-container {
      margin-right: 3rem;
    }
  }