// Master
//
// Includes body, font-size above 1600, focus outline removal
//

body {
  display: block;
  overflow: hidden;
  height: 100%;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  background-color: #e6e7e8;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}dark-bg-subtle); //  $dark-bg-subtle
  }
}

.login-screen {
  padding: 2vw 0 2rem 0;
  background: var(--#{$prefix}body-bg);
  min-height: 100vh;

  @media (min-width: 720px) {
    background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1600 900%27%3E%3Cdefs%3E%3ClinearGradient id=%27a%27 gradientUnits=%27objectBoundingBox%27 x1=%270%27 y1=%270%27 x2=%271%27 y2=%270%27 gradientTransform=%27rotate%28172,0.5,0.5%29%27%3E%3Cstop offset=%270%27 stop-color=%27%230CB0E8%27 stop-opacity=%270%27/%3E%3Cstop offset=%271%27 stop-color=%27%230CB0E8%27/%3E%3C/linearGradient%3E%3ClinearGradient id=%27b%27 gradientUnits=%27objectBoundingBox%27 x1=%270%27 y1=%270%27 x2=%270%27 y2=%271%27 gradientTransform=%27rotate%28158,0.5,0.5%29%27%3E%3Cstop offset=%270%27 stop-color=%27%23074874%27 stop-opacity=%270%27/%3E%3Cstop offset=%271%27 stop-color=%27%23074874%27/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill=%27url%28%23a%29%27 width=%271600%27 height=%27900%27/%3E%3Crect fill=%27url%28%23b%29%27 width=%271600%27 height=%27900%27/%3E%3C/svg%3E") center / cover fixed #8de1d0;
  }
}

.login-card {
  margin: 0 auto;
  max-width: 640px;
  min-height: 420px;
  text-align: center;

  @media (min-width: 720px) {
    .card {
      min-height: 420px;
      border-radius: 10px;
      box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.06), 0 1.7px 2.6px rgba(0, 0, 0, 0.06), 0 3.5px 5.3px rgba(0, 0, 0, 0.06), 0 7.3px 11px rgba(0, 0, 0, 0.07), 0 20px 30px rgba(0, 0, 0, 0.1);
    }
  }
  h1,
  .h1 {
    font-weight: 600;
    font-size: calc(1.3rem + 0.6vw);
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
  }
}

.login-logo {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 286px;

  img {
    width: 100%;
    height: 128px;
    object-fit: contain;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
  }
}

.login-logo--light {
  display: block;

  [data-bs-theme=dark] & {
    display: none;
  }
}

.login-logo--dark {
  display: none;

  [data-bs-theme=dark] & {
    display: block;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; // hide x clear icon in Safari
}

// removal of the glow on objects on focus
a,
button,
.btn,
.btn:active,
object,
embed,
[contenteditable="true"] {
  outline: none;

  &:focus {
    outline:none !important;
    outline-width: 0 !important;
  }
  &:focus-visible {
    box-shadow: $input-focus-box-shadow;
  }
}

.form-control,
.form-check-input,
input,
input[type="file"],
input[type="radio"],
input[type="text"],
input[type="checkbox"],
input.form-control,
textarea,
select,
.form-control,
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-check-input:invalid,
.form-check-input.is-invalid {
  outline: none;

  &:focus,
  &:focus-visible {
    outline: none !important;
    outline-width: 0 !important;
  }
}

input::-moz-focus-inner {
  border: 0;
}

a {

  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    box-shadow: $focus-ring-box-shadow;
  }
  &.disabled {
    cursor: no-drop;
  }
}

.underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin-bottom: .4em;
  letter-spacing: .008em;
}

.header {
  font-size: 1rem;
  letter-spacing: 0;
  margin-bottom: 1.25rem;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: $dark;
}

p {
  font-size: .875rem;
}

a:not([href]):not([tabindex]),
.nav-link:hover {
  cursor: pointer;
}

hr {
  color: $black;

  [data-bs-theme=dark] & {
    opacity: .17;
  }
}

// select background color

::selection {
  background: desaturate(lighten($secondary, 47%), 10%);

  [data-bs-theme=dark] & {
    background: $gray-rgba-700;
  }
}

::-moz-selection {
  background: desaturate(lighten($secondary, 47%), 10%);

  [data-bs-theme=dark] & {
    background: $gray-rgba-700;
  }
}

// placeholder
::placeholder { /* Most modern browsers support this now. */
  color: var(--#{$prefix}secondary-color);
}


// Force col to 100% width on mobile if no col-12 set

.col-xl-2p {
  @media (min-width: 1200px) {
    flex: 0 0 20%;
    max-width: 20%;
  }
  @media (min-width: 1400px) {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.col-btn {
  padding: 0 !important;
  min-width: 40px;
  max-width: 40px;

  &--double {
    min-width: 80px;
    max-width: 80px;
  }
  &--triple {
    min-width: 120px;
    max-width: 120px;
  }
}


// max-widths

.mw-240px {max-width: 240px;}
.mw-320px {max-width: 320px;}
.mw-360px {max-width: 360px;}
.mw-400px {max-width: 400px;}
.mw-480px {max-width: 480px;}


// remove container-fluid & container padding if directly inside card-body since it has its own

.card-body > .container,
.card-body > .container-fluid {

  @media (max-width: 767px) {
    padding: 0;
  }
}


// custom text colors

.text-light {
  color: $dark !important;
}

.text-muted {
  color: #{$text-muted} !important;
}

.text-body-light {
  color: var(--#{$prefix}tertiary-color) !important; // body-color-light
}

.text-label {
  font-size: $font-size-base;
  text-transform: none;
  letter-spacing: 0;
  font-weight: $font-weight-normal;
  color: $body-color;
}


// custom utility classes

.nowrap {
  white-space: nowrap;
}

.sticky-top {
  position: sticky !important;
}


// Layout

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-content-footer {
  position: absolute;
  z-index: $zindex-sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 1.5rem;
  background-color: rgba(74, 74, 74, .8);
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
}

.tab-content {
  width: 100%;
}


// Close - used with modals and buttons

.close,
.btn-close {
  vertical-align: top;
  line-height: .825;

  &:hover,
  &:focus {
    color: $btn-close-color;
    text-decoration: none;
    opacity: .75;
  }
}


// gray backgrounds

.bg-gray-100 {background-color: $gray-100 !important;}
.bg-gray-200 {background-color: $gray-200 !important;}
.bg-gray-300 {background-color: $gray-300 !important;}
.bg-gray-400 {background-color: $gray-400 !important;}
.bg-gray-500 {background-color: $gray-500 !important;}
.bg-gray-600 {background-color: $gray-600 !important;}
.bg-gray-700 {background-color: $gray-700 !important;}
.bg-gray-800 {background-color: $gray-800 !important;}
.bg-gray-900 {background-color: $gray-900 !important;}


// remove backgrounds

.bg-none {
  background: transparent !important;
}

.border-white {
  border-color: $white;
}

.border-light {
  border-color: $gray-400 !important;
}

.rounded-4 {
  border-radius: $border-radius-xl; // 6px
}


// Borderless - remove border and box-shadow

.borderless {
  border: none !important;
  box-shadow: none !important;
}

.border:empty {
  border: none !important;
}

.border:empty {
  border: none !important;
}


// Hover that adds a transitioned background color on any element

.hover {
  transition: background-color $transition;
}

.hover:hover {
  background-color: $gray-100;
}


// Hover that adds an inset semi transparent border on any element

.hover-outline {
  position: relative;
}

.hover-outline::after {
  position: absolute;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  pointer-events: none;
  border: 4px solid $black;
  opacity: 0;
  transition: opacity $transition;
}

.hover-outline:hover::after {
  border: 4px solid $black;
  opacity: .0625;
}


// dividers

.divider-vertical {
  width: 1px;
  background-color: var(--bs-dark-border-subtle);
}

.divider-horizontal {
  height: 1px;
  width: 100%;
  background-color: var(--bs-dark-border-subtle);
}


// Box-shadow

.shadow-depth-0 {box-shadow: $shadow-depth-0 !important;}
.shadow-depth-1 {box-shadow: $shadow-depth-1 !important;}
.shadow-depth-2 {box-shadow: $shadow-depth-2 !important;}
.shadow-depth-3 {box-shadow: $shadow-depth-3 !important;}
.shadow-depth-4 {box-shadow: $shadow-depth-4 !important;}
.shadow-depth-5 {box-shadow: $shadow-depth-5 !important;}
.shadow-depth-6 {box-shadow: $shadow-depth-6 !important;}
.shadow-depth-7 {box-shadow: $shadow-depth-7 !important;}
.shadow-depth-8 {box-shadow: $shadow-depth-8 !important;}


// Flex Order

.flex-order-1 {order: 1;}
.flex-order-2 {order: 2;}
.flex-order-3 {order: 3;}
.flex-order-4 {order: 4;}
.flex-order-5 {order: 5;}
.flex-order-6 {order: 6;}
.flex-order-7 {order: 7;}
.flex-order-8 {order: 8;}

@media (max-width: 767px) {
  .flex-order-mobile-1 {order: 1 !important;}
  .flex-order-mobile-2 {order: 2 !important;}
  .flex-order-mobile-3 {order: 3 !important;}
  .flex-order-mobile-4 {order: 4 !important;}
  .flex-order-mobile-5 {order: 5 !important;}
  .flex-order-mobile-6 {order: 6 !important;}
  .flex-order-mobile-7 {order: 7 !important;}
  .flex-order-mobile-8 {order: 8 !important;}
}


// css columns

.column-count-6 {column-count: 6;}

.column-gap-0 {column-gap: 0;}

.cursor-pointer {cursor: pointer;}
.cursor-pointer td {cursor: pointer;}

// Modal & Alert Animations

@keyframes animate-bounce {
  0% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-slidein-top {
  0% {
    transform: translateY(-.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate-slidein-right {
  0% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animate-slidein-left {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}


// gradient overlay

.gradient-overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.65) 100%);
  pointer-events: none;
}


// wrapper for not found text and inline buttons

.not-found-message {
  padding: 2rem;
  text-align: center;
  width: 100%;

  p {
    padding: 3px 0;
  }
  p,
  button {
    display: inline-flex;
    margin-bottom: 0;
  }
}


// add padding to the error message when pages don't load

nav + div:not(.screen) {
  padding: 1rem;
}


// hide disabled buttons when disabled

.disabled-hidden {

  .disabled {
    opacity: 0 !important;
    pointer-events: none;
  }
}

.hide {
  pointer-events: auto;
}

.hide:not(.fade) {
  pointer-events: none;
}


// height resets

.h-x-md-auto {

  @media (max-width: 767px) {
    height: auto !important;
  }
}


// Triniti Specific Styles

// so links within node pickers work when in view mode
.enable-pointer-events {
  pointer-events: all;
}

// Gallery Grid Container

.gallery-grid-container,
.image-grid-container {
  min-height: 286px;
  padding: 0 .25rem;

  @media (min-width: 360px) {
    padding: .25rem .5rem;
  }
  @media (min-width: 480px) {
    padding: .5rem .75rem;
  }
}


// fix bootstrap 5 container breakpoint order

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px; } }

@media (min-width: 1025px) {
  .container-lg {
    max-width: 960px; } }

@media (min-width: 768px) {
  .container-md {
    max-width: 720px; } }

@media (min-width: 576px) {
  .container-sm {
    max-width: 540px; } }

