// theme dark

:root {
  --#{$prefix}btn-border-color-dark: #{$border-color}; // *new
  --#{$prefix}btn-hover-border-color-dark: #{$border-color}; // *new
  --#{$prefix}dropdown-bg: #{$body-bg};
  --#{$prefix}form-control-border-color: var(--#{$prefix}border-color); // *new
  --#{$prefix}form-control-hover-border-color: var(--#{$prefix}border-color); // *new
  --#{$prefix}navbar-theme-dark: #{$navbar-theme-dark};
  --#{$prefix}btn-border-color: #{$border-color};
}

[data-bs-theme=dark] {
  --#{$prefix}backdrop-opacity: .75;
  --#{$prefix}btn-border-color: #{$light-border-subtle-dark};
  --#{$prefix}btn-border-color-dark: #{$light-border-subtle-dark};
  --#{$prefix}btn-hover-border-color: #{$border-hover-dark};
  --#{$prefix}btn-hover-border-color-dark: #{$border-hover-dark};
  --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color-dark);
  --#{$prefix}box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  --#{$prefix}dropdown-bg: #{$dropdown-bg-dark};
  --#{$prefix}dropdown-header-color: #{$navbar-dark-color};
  --#{$prefix}dropdown-link-color: #{$dropdown-dark-link-color};
  --#{$prefix}dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
  --#{$prefix}dropdown-link-active-color: #{$dropdown-dark-link-active-color};
  --#{$prefix}dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
  --#{$prefix}dropdown-link-active-bg: #{$dropdown-dark-link-active-bg};
  --#{$prefix}form-control-border-color: #{$light-border-subtle-dark};
  --#{$prefix}form-control-hover-border-color: #{$border-hover-dark};
  --#{$prefix}gradient-dark: #{$gradient-dark};
  --#{$prefix}gray-100: #{$body-tertiary-bg-dark};
  --#{$prefix}gray-400: rgba(0, 0, 0, .14);

  .dropdown-menu,
  .swal2-container {
    --#{$prefix}form-control-border-color: #{$light-border-dropdown-dark};
  }
}


// theme dark
[data-bs-theme=dark] {
  // sweet alert
  .swal2-popup,
  .swal2-popup.swal2-toast {
    background-color: var(--#{$prefix}dropdown-bg);
    color: var(--#{$prefix}tertiary-color);
  }
  .swal2-container .swal2-popup .swal2-title {
    color: var(--#{$prefix}body-color);
  }
  .swal2-htms-container {
    color: var(--#{$prefix}tertiary-color);
  }
  .swal2-container.swal2-backdrop-show,
  .swal2-container.swal2-noanimation {
    background: rgba(23, 30, 44, .4); // body-bg
  }
  .swal2-success-circular-line-left,
  .swal2-success-fix,
  .swal2-success-circular-line-right {
    background-color: var(--#{$prefix}dropdown-bg) !important;
  }
  &.swal2-toast-shown .swal2-container {
    background-color: transparent;
  }

  // utility classes
  .icon-color-dark {
    // color: $white-rgba-700 !important;
  }
  .border {
    border-color: var(--#{$prefix}border-color) !important;
  }
  .bg-light {
    background-color: var(--#{$prefix}light-bg-subtle) !important; // #444e5c
  }
  .border-dark {
    border-color: #121721 !important;
  }
  .bg-dark {
    background-color: var(--#{$prefix}dark-bg-subtle) !important;
  }
  .bg-white {
    background-color: var(--#{$prefix}body-bg) !important; // #43546d
  }
  .border-bottom {
    border-bottom: 1px solid var(--#{$prefix}border-color-translucent) !important;
  }
  .sortable-field,
  .button {

    .border-left,
    .border-start {
      border-left: 1px solid var(--#{$prefix}btn-border-color) !important;
    }
    .border-right,
    .border-end {
      border-right: 1px solid var(--#{$prefix}btn-border-color) !important;
    }
  }
  .border-light {
    border-color: var(--#{$prefix}light-border-subtle) !important;
  }
  .btn.border-light {
    border-color: var(--#{$prefix}btn-border-color) !important;
  }
  .table.border-light {
    border-color: var(--#{$prefix}border-color-translucent) !important;
  }
  .text-black-50 {
    color: $white-rgba-500 !important;
  }
  .text-dark {
    color: $white-rgba-600 !important;
  }
  .bg-gray-100 {
    background-color: var(--#{$prefix}gray-100) !important;
  }
  .bg-gray-400 {
    background-color: var(--#{$prefix}gray-400) !important;
  }
  .shadow-depth-1 {box-shadow: 0 0 0 1px #262e3b !important;} // bg-gray-400
  .shadow-depth-2 {box-shadow: 0 1px 1px rgba(0,0,0,0.25) !important;}
  .shadow-depth-3 {box-shadow: 0 1px 2px rgba(0,0,0,0.4) !important;}
  .shadow-depth-4 {box-shadow: 0 2px 8px rgba(0,0,0,0.45) !important;}
  .shadow-depth-5 {box-shadow: 0 4px 12px rgba(0,0,0,0.45) !important;}
  .shadow-depth-6 {box-shadow: 0 8px 24px -4px rgba(0,0,0,0.45) !important;}
  .shadow-depth-7 {box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 16px 16px -8px rgba(0,0,0,0.45)  !important;}
  .shadow-depth-8 {box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 24px 24px -4px rgba(0,0,0,0.45) !important;}


  // Save these styles

  .svg-highlight + path {
    color: var(--#{$prefix}body-color);
  }

  // webkit invert todo: check
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;

    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath fill='%23f2f2f4' d='M12 13.413l-7.294 7.294a1 1 0 1 1-1.413-1.413L10.587 12 3.293 4.706a1 1 0 1 1 1.413-1.413L12 10.587l7.294-7.294a1 1 0 1 1 1.413 1.413L13.413 12l7.294 7.294a1 1 0 1 1-1.413 1.413L12 13.413z'%3e%3c/path%3e%3c/svg%3e");
    color: var(--#{$prefix}body-color);
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    background-color: #ddd4c4 !important; // inverse of form-control-bg
  }
}
