// blocksmith

.blocksmith-input {
  min-height: 250px;
  resize: none;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: .75rem 1.5rem 1.5rem 1.5rem;
  caret-color: var(--bs-tertiary-color);

  &:empty {
    padding-top: 1.25rem;
  }
  &:focus-visible {
    box-shadow: none; // inset 0 0 0 1px $focus-ring-color
  }
  .paragraph {
    font-size: .9375rem;
  }
}

.blocksmith-placeholder {
  color: var(--bs-dark-text-emphasis);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 1.25rem;
  left: 1.5rem;
  font-size: .9375rem;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.blocksmith {

  .text-bold {
    font-weight: bold;
  }
  .text-italic {
    font-style: italic;
  }
  .text-underline {
    text-decoration: underline;
  }
  .text-strikethrough {
    text-decoration: line-through;
  }
  .text-underlineStrikethrough {
    text-decoration: underline line-through;
  }
  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.blocksmith-block {
  padding: 8px 0;
}

.blocksmith {

  .paragraph {
    padding: 8px 0;
    margin-bottom: 0;
    background-color: var(--bs-body-bg);
  }
  .listitem {
    margin: 0 16px;
    padding: 4px 0;
  }
  .list-ol,
  .list-ul {
    padding: 4px 0;
    margin: 0 0 0 16px;
    font-size: .9375rem;
  }
  .nested-listitem {
    list-style-type: none;
  }
}

.blocksmith .toolbar {
  display: flex;
  padding: 4px;
  background-color: var(--bs-body-bg);
  box-shadow: $box-shadow-sm;
}

.blocksmith .toolbar-item {
  border: 0;
  display: inline-flex;
  background: none;
  border-radius: 6px;
  padding: 5px 8px;
  cursor: pointer;
  justify-content: center;
  margin: 0 1px;
  color: var(--bs-body-color);

  &:disabled {
    cursor: not-allowed;
  }
  &.active {
    background-color: var(--#{$prefix}status-expired);

    .icon {
      opacity: 1;
    }
  }
  &:disabled {

    .icon {
      opacity: 0.2;
    }
  }
  &:hover:not([disabled]) {
    background-color: $gray-rgba-100;
  }
}

.blocksmith .dropdown-item {
  --bs-dropdown-item-padding-x: .75rem;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}


// icons

.icon-article-block {
  background-image: url(../../img/icons/book-open.svg);
}

.icon-audio-block {
  background-image: url(../../img/icons/audio.svg);
}

.icon-document-block {
  background-image: url(../../img/icons/document.svg);
}

.icon-eme-form-block {
  background-image: url(../../img/icons/short-text.svg);
}

.icon-gallery-block {
  background-image: url(../../img/icons/gallery.svg);
}

.icon-image-block {
  background-image: url(../../img/icons/camera.svg);
}

.icon-poll-block {
  background-image: url(../../img/icons/poll.svg);
}

.icon-poll-grid-block {
  background-image: url(../../img/icons/poll-grid.svg);
}

.icon-quote-block {
  background-image: url(../../img/icons/quote.svg);
}

.icon-video-block {
  background-image: url(../../img/icons/play-outline.svg);
}

.icon-divider-block {
  background-image: url(../../img/icons/minus-line.svg);
}

.icon-heading-block {
  background-image: url(../../img/icons/header.svg);
}

.icon-page-break-block {
  background-image: url(../../img/icons/page-break.svg);
}

.icon-code-block {
  background-image: url(../../img/icons/code.svg);
}

.icon-iframe-block {
  background-image: url(../../img/icons/iframe.svg);
}

.icon-facebook-post-block {
  background-image: url(../../img/icons/facebook-circle.svg);
}

.icon-facebook-video-block {
  background-image: url(../../img/icons/facebook.svg);
}

.icon-google-map-block {
  background-image: url(../../img/icons/google.svg);
}

.icon-imgur-post-block {
  background-image: url(../../img/icons/imgur.svg);
}

.icon-instagram-media-block {
  background-image: url(../../img/icons/instagram.svg);
}

.icon-pinterest-pin-block {
  background-image: url(../../img/icons/pinterest.svg);
}

.icon-soundcloud-audio-block {
  background-image: url(../../img/icons/soundcloud.svg);
}

.icon-spotify-embed-block {
  background-image: url(../../img/icons/spotify.svg);
}

.icon-text-block {
  background-image: url(../../img/icons/paragraph.svg);
}

.icon-tiktok-embed-block {
  background-image: url(../../img/icons/tiktok.svg);
}

.icon-tumblr-post-block {
  background-image: url(../../img/icons/tumblr.svg);
}

.icon-twitter-tweet-block {
  background-image: url(../../img/icons/x.svg);
}

.icon-vimeo-video-block {
  background-image: url(../../img/icons/vimeo.svg);
}

.icon-youtube-playlist-block {
  background-image: url(../../img/icons/playlist.svg);
}

.icon-youtube-video-block {
  background-image: url(../../img/icons/youtube.svg);
}

i.icon {

  [data-bs-theme=dark] & {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}


// draggable

.draggable-block-menu {
  border-radius: 4px;
  padding: 2px 0;
  cursor: move;
  opacity: 0;
  position: absolute;
  left: 3px;
  top: 10px;
  will-change: transform;
  color: var(--bs-light-text-emphasis);

  &:hover {
    background-color: $focus-ring-color; // $gray-rgba-200;
    color: $white; // var(--bs-body-color)
  }
  &:active {
    cursor: grabbing;
  }
}

.draggable-block-target-line {
  pointer-events: none;
  background: var(--#{$prefix}border-color);
  border: 1px solid $info;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 3px;
  will-change: transform;
}
