// Breadcrumb

.breadcrumb {
  margin-right: .5rem;
  text-transform: capitalize;
}

// Breadcrumb Item

.breadcrumb-item,
.breadcrumb-item a {
  color: var(--#{$prefix}body-color);

  &:hover {
    color: var(--#{$prefix}body-color);
  }
}
