// Button

//
// Base styles
//


.btn {
  // z-index: 1; // required for gradient hover transition
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 40px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, color 0.1s ease-in-out;
  font-size: 0.825rem;

  &:hover,
  &:focus {
    cursor: pointer;
    // color: var(--#{$prefix}btn-color);
  }
  &:focus-visible,
  &.active:focus-visible,
  &.show:focus-visible {
    box-shadow: $focus-ring-box-shadow; // $secondary
  }
  &:last-child,
  &.d-block {
    margin-right: 0;
  }
  .checkbox-input-button & {
    text-transform: none;
  }
  .checkbox-input:checked + .checkbox-input-button & {
    color: $white !important;
    background: var(--#{$prefix}secondary);
    border-color: darken($secondary, 5%);
  }
  form &:not(:focus):not(:focus-visible):hover,
  .form-group &:not(:focus):hover,
  [id^="form-group-"] &:not(:focus):hover,
  .input-group &:not(:focus):hover {
    box-shadow: $hover-shadow;
  }
  .dropright > & {
    margin-right: 0; // remove margin when dropdown menu aligns to the right of a dropdown
  }
  .input-group & {
    margin: 0;
    min-height: 100%;
  }
  .input-group-prepend &,
  .input-group-append & {
    z-index: 1; // what-it-does: fix for dropdown menu showing under
  }
  .dropdown-menu &.btn-action {
    margin-bottom: .5rem;
    margin-left: 0 !important;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .dropdown-menu &.btn-action:not(:focus-visible) {
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  [data-bs-theme=dark] & {
    --#{$prefix}btn-border-color: var(--#{$prefix}btn-border-color-dark); // *new #494e5a #3e4551 #515966 #444e5c
    --#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-border-color-dark); // *new lighten(#494e5a, .25%)
    --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color-dark);
    --#{$prefix}btn-active-color: var(--#{$prefix}emphasis-color);
  }
}


// btn-hover style

.btn-hover {
  opacity: .625;
  border: none;
  color: var(--#{$prefix}body-color) !important;

  &:not(:focus-visible) {
    box-shadow: none !important;
  }
  a:focus-visible > & {
    box-shadow: none !important;
  }
  &:hover,
  &.active {
    opacity: 1;
  }
  .td-icons > &,
  .td-icons > a & {
    padding: 0;
    width: 2.125rem;
    height: 2.125rem;
    min-height: 2.125rem;
    border-radius: 50%;
  }
  tr.bg-selected & {
    color: $white !important;
  }
}

a {
  &:focus-visible > .btn-hover,
  &:hover > .btn-hover,
  &.active > .btn-hover {
    opacity: 1;
  }
}


// btn-hover-bg style

.btn-hover-bg,
.btn-icon-hover-bg {
  opacity: .625;
  border: none;

  &:hover,
  &.active {
    opacity: 1;
    background-color: $gray-rgba-100; // #f2f2f4 $gray-300

    [data-bs-theme=dark] & {
      background-color: $white-rgba-100;
    }
  }
  .form-group &,
  [id^="form-group-"] & {
    box-shadow: none !important;
  }
  &.disabled {
    opacity: .625;
    background-color: transparent;
    cursor: not-allowed;
  }
  .td-icons > &,
  .td-icons > a & {
    padding: 0;
    width: 2.125rem;
    height: 2.125rem;
    min-height: 2.125rem;
    border-radius: 50%;
  }
  tr.bg-selected & {
    color: $white !important;
  }
}

.focus-ring-box-shadow {
  box-shadow: $focus-ring-box-shadow;
  --bs-btn-active-shadow: #{$focus-ring-box-shadow};
}

.hover-box-shadow {

  &:hover {
    box-shadow: $focus-ring-box-shadow;
  }
  &.btn-hover:hover {
    box-shadow: $focus-ring-box-shadow !important;
  }
}



// scss-docs-start btn-variant-loops
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    $btn-border-color: darken($value, 4%);
    $btn-hover-bg: darken($value, 7%);
    $btn-hover-border-color: darken($value, 14%);
    --#{$prefix}btn-color: #{$white};
    --#{$prefix}btn-border-color: #{$btn-border-color};
    --#{$prefix}btn-hover-color: #{$white};
    --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
    --#{$prefix}btn-hover-border-color: #{$btn-hover-border-color};
    --#{$prefix}btn-active-color: #{$white};
    --#{$prefix}btn-active-bg: var(--#{$prefix}btn-hover-bg);
    --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color);
    --#{$prefix}btn-disabled-color: #{$white};
    --#{$prefix}btn-disabled-bg: #{$value};
    --#{$prefix}btn-disabled-border-color: var(--#{$prefix}btn-border-color);
    background-image: var(--#{$prefix}gradient);

    &.active {
      background-image: none;
    }

    [data-bs-theme=dark] & {
      $btn-bg: darken($value, 8%);
      $btn-border-color: darken($value, 14%);
      $btn-hover-bg: darken($value, 12%);
      // $btn-hover-border-color: darken($value, 25%);
      $btn-hover-border-color: tint-color($value, $btn-hover-border-tint-amount);
      --#{$prefix}btn-bg: #{$btn-bg};
      --#{$prefix}btn-border-color: #{$btn-border-color};
      --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
      --#{$prefix}btn-hover-border-color: #{$btn-hover-border-color};
      --#{$prefix}btn-active-color: #{$white};
      --#{$prefix}btn-active-bg: var(--#{$prefix}btn-hover-bg);
      --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color);
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}btn-border-color);
      --#{$prefix}gradient: var(--#{$prefix}gradient-dark);
    }

    @if $color == "light" {
      --#{$prefix}btn-bg: var(--#{$prefix}body-bg);
      --#{$prefix}btn-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-border-color: #{$gray-600};
      --#{$prefix}btn-hover-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-hover-bg: #{$gray-300};
      --#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
      --#{$prefix}btn-disabled-color: var(--#{$prefix}body-color);

      [data-bs-theme=dark] & {
        $btn-hover-bg: shade-color($body-secondary-bg-dark, 6%);
        --#{$prefix}btn-bg: var(--#{$prefix}secondary-bg);
        --#{$prefix}btn-border-color: var(--#{$prefix}form-control-border-color);
        --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
        --#{$prefix}btn-hover-border-color: var(--#{$prefix}form-control-hover-border-color);
        --#{$prefix}btn-active-bg: var(--#{$prefix}btn-hover-bg);
        --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color);
        --#{$prefix}btn-disabled-bg: var(--#{$prefix}btn-bg);
      }
    }
  }

  .btn-outline-#{$color} {
    $btn-hover-bg: darken($value, 7%);
    $btn-hover-border-color: darken($value, 14%);
    --#{$prefix}btn-bg: #{$gray-200};
    --#{$prefix}btn-color: var(--#{$prefix}body-color);
    --#{$prefix}btn-border-color: #{$gray-600};
    --#{$prefix}btn-hover-color: #{$white};
    --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
    --#{$prefix}btn-hover-border-color: #{$btn-hover-border-color};
    --#{$prefix}btn-active-color: #{$white};
    --#{$prefix}btn-active-bg: var(--#{$prefix}btn-hover-bg);
    --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color);
    --#{$prefix}btn-disabled-border-color: var(--#{$prefix}border-color);
    --#{$prefix}btn-disabled-color: var(--#{$prefix}body-color);
    --#{$prefix}btn-disabled-bg: #{$gray-300};
    --#{$prefix}btn-disabled-border-color: var(--#{$prefix}border-color);
    --#{$prefix}gradient: #{$gradient};
    background-image: var(--#{$prefix}gradient);

    .btn-group--white & {
      --#{$prefix}btn-bg: #{$white};

      [data-bs-theme=dark] & {
        --#{$prefix}btn-bg: var(--#{$prefix}secondary-bg);
      }
    }

    &.active {
      background-image: none;
    }

    [data-bs-theme=dark] & {
      $btn-hover-bg: darken($value, 12%);
      // $btn-hover-border-color: darken($value, 25%);
      $btn-hover-border-color: tint-color($value, $btn-hover-border-tint-amount);
      --#{$prefix}btn-bg: var(--#{$prefix}secondary-bg);
      --#{$prefix}btn-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-border-color: var(--#{$prefix}form-control-border-color);
      --#{$prefix}btn-hover-color: #{$white};
      --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
      --#{$prefix}btn-hover-border-color: #{$btn-hover-border-color};
      --#{$prefix}btn-active-bg: var(--#{$prefix}btn-hover-bg);
      --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-hover-border-color);
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}btn-border-color);
      --#{$prefix}btn-disabled-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-disabled-bg: var(--#{$prefix}secondary-bg);
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}btn-border-color);
      --#{$prefix}gradient: var(--#{$prefix}gradient-dark);
    }

    @if $color == "light" {
      --#{$prefix}btn-bg: #{$gray-200};
      --#{$prefix}btn-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-border-color: #{$gray-600};
      --#{$prefix}btn-hover-color: var(--#{$prefix}body-color);
      --#{$prefix}btn-hover-bg: #{$gray-500};
      --#{$prefix}btn-active-color: var(--#{$prefix}body-color);

      [data-bs-theme=dark] & {
        $btn-hover-bg: shade-color($body-secondary-bg-dark, 7%);
        // --#{$prefix}btn-hover-bg: var(--#{$prefix}secondary-bg);
        --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
        --#{$prefix}btn-hover-border-color: var(--#{$prefix}form-control-hover-border-color);
      }
    }

    .modal-footer-buttons &:not(:hover):not(:active):not(.active):not(:disabled) {
      background-color: var(--#{$prefix}body-bg);
    }
  }
}

.show > .btn-light.dropdown-toggle {
  color: var(--#{$prefix}body-color);
  background-color: $white;
  border-color: var(--#{$prefix}border-color);

  [data-bs-theme=dark] & {
    // color: var(--#{$prefix}body-color);
    background-color: var(--#{$prefix}secondary-bg);
    border-color: var(--#{$prefix}btn-border-color);
  }
  &:hover,
  &:focus:hover {
    background-color: $gray-400;
    border-color: var(--#{$prefix}border-color);

    [data-bs-theme=dark] & {
      background-color: var(--#{$prefix}secondary-bg);
      border-color: var(--#{$prefix}btn-hover-border-color);
    }
  }
  &:focus {
    background-color: $white;
    border-color: var(--#{$prefix}border-color);

    [data-bs-theme=dark] & {
      background-color: var(--#{$prefix}secondary-bg);
      border-color: var(--#{$prefix}btn-hover-border-color);
    }
  }
}

.btn.disabled,
.btn.disabled:hover,
.btn:disabled,
.btn:disabled:hover {
  cursor: not-allowed;
  box-shadow: $shadow-depth-0;
  pointer-events: none;
}


// instances to remove margin bottom

.card-header .btn,
.screen-header-container .btn,
.sidenav-header .btn,
.modal-header .btn,
.modal-footer .btn,
.btn-group .btn,
.btn-toolbar .btn,
.input-group-btn .btn,
.btn-group-vertical .btn {
  margin-bottom: 0;
}

.btn-group,
.btn-group-vertical {
  vertical-align: top;

  > .btn {
    margin-right: 0;
  }
}

.btn-group > .btn,
.btn-group-vertical > .btn {

  &:focus,
  &:active,
  &.active {
    z-index: 2;
  }
}

.btn-group--icons {
  margin-right: .5rem;

  .btn {
    margin: 0;
    padding: .5rem .75rem;
  }
  .dropdown {
    align-items: center;

    > .btn-hover {
      padding: .5rem;
      max-height: 40px;
    }
  }
}


// btn-toggler style

.btn-toggler {
  padding-left: 1.75rem;
  background-color: transparent;
  border-color: transparent;
  box-shadow: $shadow-depth-0;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    transition: transform $transition;
    opacity: .5;
    background: transparent url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3e%3cpath d='M13.207 8.472l-7.854 7.854-.707-.707 7.146-7.146-7.146-7.148.707-.707 7.854 7.854z' fill='%23000000'/%3e%3c/svg%3e") center center / auto 14px no-repeat;
    transform: rotate(90deg);
  }
  &.active::before {
    transform: rotate(-90deg);
  }
  &:hover::after,
  &:hover::before {
    opacity: 1;
  }
  &:hover,
  &.active {
    color: var(--#{$prefix}body-color);
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
  }
  .card-header & {
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
  }
}


// Footer Buttons
//
// Most often useed with small modals and asides so that the buttons touch the edges

.modal-footer-buttons {
  padding: 0;
  justify-content: space-between;

  .btn {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px 0 0 0 var(--#{$prefix}border-color);
    flex: 1;

    &:last-child {
      box-shadow: none;
    }
  }
}

.footer-button.border-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-dialog:not(.modal-sm) .modal-footer-buttons .btn {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-footer-buttons .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: $border-radius-lg - 1px;
}

.modal-footer-buttons .btn:last-child {
  border-bottom-right-radius: $border-radius-lg - 1px;
}

// modal-footer fixes
.modal-footer.modal-footer-buttons {
  padding: 0;
}

.modal-footer.modal-footer-buttons .btn {
  margin: 0;
}

.btn-tab,
.btn-table {
  padding-right: .75rem; // $table-cell-padding
  padding-left: .75rem; // $table-cell-padding
}


//
// Button Sizes
//

.btn-xxs,
.btn-xs,
.btn-sm {
  font-weight: 400;
}

.btn-xxs {
  min-height: 16px;
}

.btn-xs {
  min-height: 22px;
}

.btn-sm {
  min-height: 28px;
  line-height: 1.45;
}

.btn-lg {
  min-height: 54px;
  line-height: 1.8;
  font-weight: $btn-font-weight;
}

.btn-xl {
  font-size: 1.25rem;
  font-weight: $btn-font-weight;
  padding: 1.25rem 3rem;
  min-height: 78px;
  line-height: 1.8;
  border-radius: var(--#{$prefix}border-radius-lg);
}


//
// radius parameter: round, square, circle
//

.rounded-pill {

  &.btn {
    border-radius: $round;
    padding-left: $input-btn-padding-x + .25rem;
    padding-right: $input-btn-padding-x + .25rem;
  }
  &.btn-sm {
    padding-left: .75rem;
    padding-right: .75rem;
  }
  .checkbox-input-button &.btn {
    padding-left: 1rem;
    padding-right: .75rem;
  }
  .checkbox-input-button &.btn-sm {
    padding-left: .675rem;
    padding-right: .5rem;
  }
  .checkbox-input-button &.btn-lg {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}

.rounded-circle {

  &.btn {
    width: $button-round-height;
    height: $button-round-height;
    min-height: 1rem;
    padding: 0;
    letter-spacing: 0;
    border-radius: $round;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    --#{$prefix}btn-active-border-color: transparent;
  }
  &.btn-xxs {
    width: $button-round-height-xxs;
    height: $button-round-height-xxs;
  }
  &.btn-xs {
    width: $button-round-height-xs;
    height: $button-round-height-xs;
  }
  &.btn-sm {
    width: $button-round-height-sm;
    height: $button-round-height-sm;
  }
  &.btn-md {
    width: $button-round-height-md;
    height: $button-round-height-md;
  }
  &.btn-lg {
    width: $button-round-height-lg;
    height: $button-round-height-lg;
  }
  &.btn-xl {
    width: $button-round-height-xl;
    height: $button-round-height-xl;
  }
}


// Close Button

.btn-close {
  position: absolute;
  top: .25rem;
  right: .25rem;
  min-height: 0;
  border-radius: 50px;

  [data-bs-theme=dark] & {
    filter: none;
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27 %3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .alert & {
    background: none;

    &:before {
      content: '×';
      font-size: 24px;
      font-weight: 600;
      line-height: .5;
      color: var(--#{$prefix}alert-link-color);
      // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .alert-dismissible & {
    margin-right: .375rem;
    padding: 0.9375rem;

    &:focus {
      box-shadow: none;
    }
  }
}


// Rounded Button

.btn.rounded {
  overflow: hidden;
  border-radius: 6px !important;
}


// zoom theme

.btn-zoom {
  overflow: hidden;
  padding: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .15s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
  }
  &:hover {
    &::after {
      background-color: $gray-rgba-800;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath fill='%23fff' d='M17.411 16.018l5.577 5.742a1 1 0 1 1-1.435 1.393l-5.662-5.83A9.457 9.457 0 0 1 10.5 19 9.5 9.5 0 0 1 1 9.5 9.5 9.5 0 0 1 10.5 0a9.5 9.5 0 0 1 6.911 16.018zM18 9.5a7.5 7.5 0 1 0-15 0 7.5 7.5 0 0 0 15 0zm-8.5-1V6a1 1 0 1 1 2 0v2.5H14a1 1 0 0 1 0 2h-2.5V13a1 1 0 0 1-2 0v-2.5H7a1 1 0 0 1 0-2h2.5z'/%3e%3c/svg%3e");
    }
  }
}


// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// scss-lint:disable QualifyingElement
button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


// circle button for icons

.btn-radius-circle {
  width: 2.125rem;
  height: 2.125rem;
  min-height: 1rem;
  padding: 0;
  letter-spacing: 0;
  border-radius: 10rem;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}


// blocksmith button styles

// todo: remove below if not used
/*
.btn-blocksmith {
  margin: .25rem;
  display: inline-block;
  vertical-align: top;
  padding-top: 1rem;
  width: 100px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  text-align: center;

  &:hover,
  &:focus {
    border-color: var(--#{$prefix}secondary);
  }
  > div {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  > span:last-child {
    display: block;
    min-height: 34px;
    white-space: normal;
    word-wrap: normal;
    text-align: center;
    line-height: 1.3;
    margin-top: .375rem;
    font-size: .75rem;
  }
}

.block-buttons-holder .btn:focus {
  box-shadow: none;
}
*/

.btn-list {
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: none;
  justify-content: start;
  margin: 0;
  border-radius: 50rem;
  box-shadow: none !important;
  --bs-btn-bg: transparent;
  // --bs-btn-hover-bg: #{$gray-rgba-100};

  .modal & {

    [data-bs-theme=dark] & {
      --bs-btn-bg: transparent;
      --bs-btn-hover-bg: var(--bs-secondary-bg);
    }
  }
}
