// list-group

// Custom Classes

.list-group-item {

  &.active,
  &:active {
    color: var(--#{$prefix}body-color);
    z-index: 0;
  }
  &.disabled,
  &:disabled {
    // color: $text-muted;
  }
  &:hover,
  &:focus {
    z-index: 0;
  }
  .screen-sidebar .list-group:not(.list-group-chat):not(.list-group-nav) & {
    padding: 0.675rem 1rem;
    border-color: var(--#{$prefix}border-color);
  }
}

.list-group-item-text {
  opacity: .8;

  .list-group-item-heading + & {
    width: 100%;
  }
}


// list-group-nav styles

.list-group-nav {
  flex-shrink: 0;
  --bs-list-group-border-radius: 0;

  .list-group-item {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.list-group-item-action,
    > a,
    > .btn {
      // position: static;
      display: block;
      font-size: .9rem;
      color: var(--#{$prefix}body-color);
      font-weight: 400;
      line-height: 1;
      padding: 1rem 1.25rem;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: var(--#{$prefix}tertiary-bg);
        box-shadow: inset 3px 0 0 var(--#{$prefix}dark-bg-subtle);
      }
    }
    &.list-group-item-action.active,
    &.active {
      color: var(--#{$prefix}body-color);
      background-color: var(--#{$prefix}secondary-bg);
      box-shadow: inset 3px 0 0 var(--#{$prefix}primary);

      > a,
      > .btn {

        &:hover,
        &:focus {
          background-color: var(--#{$prefix}secondary-bg);
          box-shadow: inset 3px 0 0 var(--#{$prefix}primary);
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      margin-left: 1.25rem;
      width: calc(100% - 1.25rem);
      content: '';
      border-top: 1px solid var(--#{$prefix}border-color-translucent);

      .screen-sidenav & {
        margin-left: 3.375rem;
        width: calc(100% - 3.375rem);
      }
    }
    &:last-child::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      margin-left: 1.25rem;
      width: calc(100% - 1.25rem);
      content: '';
      border-bottom: 1px solid var(--#{$prefix}border-color-translucent);

      .screen-sidenav & {
        margin-left: 3.375rem;
        width: calc(100% - 3.375rem);
      }
    }
  }
  .list-group-collapse { // todo check if used
    border-top: 1px solid var(--#{$prefix}border-color-translucent);
    padding-left: 0;
    background-color: var(--#{$prefix}dark-bg-subtle);
    transition: height $transition;

    .list-group-item a:hover,
    .list-group-item a:focus {
      background-color: var(--#{$prefix}tertiary-bg);
    }
  }
}


// Borderless
//
// Remove top and bottom borders and border-radius to keep list group items edge-to-edge.

.list-group-borderless {
  .list-group-item {
    border: 0;
    --bs-list-group-border-radius: 0;
  }

  .list-group-item::before,
  .list-group-item::after {
    border: none !important;
  }
}


// For Roles Page

.list-group-item-roles {
  display: flex;
  justify-content: space-between;
  border: none;
  margin: 0;
  min-height: $header-height;
  padding-right: .75rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--#{$prefix}border-color-translucent);

  &:last-child {
    border-bottom: none;
  }
  & .list-group-item-text {
    margin-bottom: 0;
    align-self: center;
  }
}


// Style for list-group-chat

.list-group-chat {
  flex-direction: column-reverse;

  .list-group-item {
    border-radius: 6px 6px 6px 0;
    margin-bottom: .5rem;
    // border-bottom-left-radius: 0;
    border: 1px solid var(--#{$prefix}light-border-subtle);
    padding-bottom: 0;
  }
  .list-group-chat-item-me {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    background-color: var(--#{$prefix}dark-bg-subtle);
    border-color: var(--#{$prefix}dark-bg-subtle);
  }
  .list-group-item::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent var(--#{$prefix}light-border-subtle) transparent transparent;
    content: '';
    position: absolute;
    left: -8px;
    bottom: -1px;
    border-width: 8px 8px 0 0;
  }
  .list-group-item::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent var(--#{$prefix}body-bg) transparent transparent;
    content: '';
    position: absolute;
    left: -6px;
    bottom: 0;
    border-width: 8px 8px 0 0;
  }
  .list-group-chat-item-me::before {
    border-color: transparent transparent transparent var(--#{$prefix}dark-bg-subtle);
    left: auto;
    right: -8px;
    border-width: 8px 0 0 8px;
  }
  .list-group-chat-item-me::after {
    display: none;
  }
  .list-group-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    small {
      font-size: .625rem;
    }
  }
}


// Styles for list-group-history

.list-group-history {
  position: relative;
  --bs-list-group-border-radius: 0;

  .list-group-item {
    border: 0;
  }

  .list-group-item::before,
  .list-group-item::after {
    border: none;
  }

  &::before {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    margin-left: -3px;
    display: block;
    width: 3px;
    content: '';
    border-radius: 3px;
    background-color: var(--#{$prefix}dark-bg-subtle);
  }

  & .list-group-item {
    padding-top: 0;
  }

  & > .list-group-item::after {
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    width: .875rem;
    height: .875rem;
    margin-left: -9px;
    border-radius: $round;
    background: var(--#{$prefix}body-bg);
    border: 3px solid var(--#{$prefix}dark-bg-subtle);
  }
}


// horizontal action

.list-group-horizontal {
  flex-wrap: wrap;
  font-size: .9em;
  --#{$prefix}list-group-border-color: var(--#{$prefix}border-color);

  .list-group-item {
    margin-bottom: .5rem;
    padding: .375rem .75rem;
  }
  .list-group-item-action {
    width: auto;
  }
}


// collection theme

.list-group-collection {
  align-items: flex-start;

  .list-group-item {
    border: none;
    border-radius: 10rem !important;
    margin: 0 0 .5rem 0 !important;
    padding: .375rem .5rem;
    line-height: 1;
    font-size: .75em;
    background-color: var(--#{$prefix}dark-bg-subtle);
    transition: background-color $transition;

    &:hover {
      background-color: var(--#{$prefix}secondary-bg);
    }
  }
  &.list-group-horizontal {
    margin: 0 -.25rem;

    .list-group-item {
      margin: 0 .25rem .5rem .25rem !important;
    }
  }
  .list-group-item-action {
    width: auto;
  }
}

.list-group-item-action {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
