// Navbar Brand

$navbarlogo-width: 101px;

// Navbar Brand

.navbar-brand {

  .navbar-main & {
    width: 130px;
    height: 32px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='32' viewBox='0 0 101 32'%3e%3ctitle%3eTrue Crime Daily%3c/title%3e%3cpath fill='%23FFF' d='M92.41.38h8.41v2.66h-5.59v5.78h4.87v2.66h-4.87v5.78h5.59v2.82h-8.41zM77.02.38h2.71l3.63 10.43h.05L87.01.38h2.74v19.7h-2.82V8.1h-.06l-2.79 8.47h-1.41L79.9 8.1h-.06v11.98h-2.82zM71.46 20.08h2.82V.38h-2.82zM62.41 9.18h1.6c.5 0 .9-.07 1.2-.21.3-.14.52-.34.67-.6.16-.25.27-.57.32-.95a9.2 9.2 0 000-2.63c-.05-.38-.17-.7-.34-.97a1.57 1.57 0 00-.74-.6c-.31-.12-.72-.19-1.24-.19H62.4v6.15zM59.6.38h4.54c3.32 0 4.98 1.93 4.98 5.78a7.3 7.3 0 01-.54 2.95c-.36.82-1 1.48-1.9 1.98l3.05 8.99h-3l-2.62-8.41h-1.69v8.41H59.6V.38zM57.3 15.68a4.5 4.5 0 01-1.3 3.2c-.41.41-.89.74-1.43 1-.55.24-1.13.37-1.76.37-.53 0-1.08-.08-1.63-.23a3.96 3.96 0 01-2.59-2.18 5.13 5.13 0 01-.43-2.24V4.75c0-.65.11-1.24.33-1.8a4.24 4.24 0 012.4-2.4 4.89 4.89 0 013.66 0 4.31 4.31 0 012.4 2.47c.23.58.34 1.21.34 1.9v1.1h-2.82v-.94c0-.55-.16-1.03-.47-1.44-.31-.4-.74-.6-1.27-.6-.7 0-1.17.21-1.4.64-.23.44-.35.99-.35 1.65V15.4c0 .58.13 1.06.38 1.44.25.39.7.58 1.34.58.18 0 .38-.03.6-.1.2-.06.4-.16.58-.31.17-.15.31-.35.42-.61.12-.26.17-.58.17-.97v-.97h2.82v1.22zM34.22.38h8.41v2.66h-5.59v5.78h4.87v2.66h-4.87v5.78h5.59v2.82h-8.41zM31.56 15.65a4.48 4.48 0 01-1.34 3.25 4.64 4.64 0 01-3.23 1.35 4.64 4.64 0 01-4.57-4.6V.38h2.83v15c0 .7.17 1.21.5 1.55.33.33.74.5 1.24.5s.92-.17 1.25-.5c.33-.34.5-.85.5-1.55v-15h2.82v15.27zM13.46 9.18h1.6c.5 0 .9-.07 1.2-.21.3-.14.52-.34.67-.6.16-.25.27-.57.32-.95a9.2 9.2 0 000-2.63c-.05-.38-.17-.7-.34-.97a1.57 1.57 0 00-.74-.6c-.31-.12-.73-.19-1.24-.19h-1.47v6.15zM10.64.38h4.54c3.32 0 4.98 1.93 4.98 5.78a7.3 7.3 0 01-.54 2.95c-.36.82-1 1.48-1.9 1.98l3.05 8.99h-3l-2.62-8.41h-1.69v8.41h-2.82V.38zM.04.38v2.66h3.27v17.04h2.82V3.04h3.26V.38z'/%3e%3cpath fill='%23FFF' d='M0 31.22h100.8v-8.78H0z'/%3e%3cpath fill='%23232935' d='M32.74 26.83c0-1.25-.71-1.87-2.14-1.87h-.92v3.73h1.02c.66 0 1.17-.15 1.52-.47.35-.31.52-.78.52-1.4m.14-2c.53.48.8 1.14.8 1.99 0 .84-.26 1.51-.77 2-.51.5-1.3.75-2.34.75h-1.81V24.1h1.87c.98 0 1.73.23 2.25.71M43.29 27.47l-1-2.25-.98 2.25h1.98zm-2.36.85l-.54 1.24h-.99l2.4-5.45h.99l2.4 5.45h-.98l-.55-1.24h-2.73zM51.25 29.56h.92V24.1h-.92zM58.99 29.56V24.1h.92v4.58h2.49v.87zM70.34 29.56h-.94V27.4l-2.02-3.3h1l1.49 2.48 1.49-2.48h1l-2.02 3.3z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;

    @media (min-width: 1025px) {
      margin-right: 1.25rem;
      margin-bottom: 0;
      margin-left: 1.25rem;
      width: $navbarlogo-width;
      height: 2.125rem;
    }
    @media (min-width: 1200px) {
      margin-right: 1.5vw !important;
      width: $navbarlogo-width + 12px;
      height: 2.25rem;
    }

    a {
      font-size: 0;
    }
  }
}

.svg-logo-fill {
  // class to keep current color of brand svg logo
  fill: currentColor;
}
