// Primary Actions

.screen-primary-actions-wrapper {
  flex: 0 0 auto;
  margin: .25rem 0 .25rem auto;

  & a:hover,
  & a:focus {
    text-decoration: none;
  }
  .btn {
    margin-bottom: 0;

    &:not(:focus) {
      box-shadow: $shadow-depth-3;
    }
    &.disabled {
      color: $gray-900;
      background: $gray-200;
      border-color: $gray-700;

      &:hover,
      &:focus {
        color: $gray-900;
        background: $gray-200;
        border-color: $gray-700;
      }
    }
    img {
      margin-right: .25rem;
      margin-left: -.25rem;
      opacity: .8;
    }
  }
  .dropdown .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .input-group-prepend > .btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  @media (max-width: 767px) {
    .btn:not(.btn-primary-actions-toggle) {
      display: flex;
      margin: 0 0 1.5rem 0;
      border-radius: 10rem;
      padding: 0.75rem 1.5rem;
      width: 100%;
      pointer-events: auto;
      cursor: default;
      font-size: 1rem;
      line-height: 1.8;

      &::before {
        border-radius: 10rem;
      }
    }
    .dropdown > .btn {
      display: none;
    }
    .dropdown-menu {
      position: static !important;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding: 0 !important;
      width: 100%;
      box-shadow: none;
      border: none;
      float: none;
      transform: none !important;
      background-color: transparent;
    }
    .input-group-prepend {
      display: block;
      margin-bottom: 1.5rem;
      margin-left: 0;
      width: 100%;

      & > button {
        display: none !important;
      }
    }
  }
  @media (min-width: 768px) {
    .dropdown-menu {
      min-width: 9rem;
    }
    .input-group {
      margin-right: .5rem;
    }
  }
}

.btn-primary-actions-toggle {
  z-index: 0;
  margin-right: 0;
  margin-bottom: 0 !important;

  @media (min-width: 768px) {
    display: none;
  }
}

.screen-primary-actions {

  @media (max-width: 767px) {
    display: block;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.9);
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 3rem 2.5rem;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &.hide {
      display: none;
    }
    &.show {
      pointer-events: auto;
    }
  }
  @media (min-width: 768px) {
    opacity: 1 !important;

    &.hide {
      pointer-events: all;
    }
  }
}

.screen-primary-actions-body {
  display: flex;

  @media (max-width: 767px) {
    position: relative;
    flex: 1 0 100%;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 8.5rem);
  }
  @media (min-width: 768px) {
    align-items: center;
  }
}

.screen-primary-actions-close {
  position: fixed;
  top: 2.5rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath d='M12 13.413L1.706 23.707a1 1 0 0 1-1.413-1.413L10.587 12 .293 1.706A1 1 0 1 1 1.706.293L12 10.587 22.294.293a1 1 0 1 1 1.413 1.413L13.413 12l10.294 10.294a1 1 0 1 1-1.413 1.413L12 13.413z' fill='%23fff' /%3e%3c/svg%3e");
  background-position: top 1rem right 1rem;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  z-index: -1;

  @media (min-width: 768px) {
    display: none;
  }
}
