// DatePicker

@import "~react-datepicker/dist/react-datepicker.css";

.react-datepicker-popper {
  z-index: $zindex-dropdown;
  min-width: 340px; // force a min-width needed due to narrow containers
}

// border colors of popup arrow
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
  margin-bottom: -7px;
}

.react-datepicker-popper[data-placement] .react-datepicker__triangle {

  [data-bs-theme=dark] & {
    fill: var(--#{$prefix}dropdown-bg);
    color: var(--#{$prefix}dropdown-bg);
    stroke: var(--#{$prefix}border-color-translucent);
  }
}

.react-datepicker-wrapper {
  width: auto;

  .row & {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
  }
}

// fix for wrapper height in safari when inside input-group and no date selected
_::-webkit-full-page-media, _:future, :root .input-group .react-datepicker-wrapper {
  max-height: 37px;
}

.react-datepicker {
  border: 1px solid var(--#{$prefix}border-color);
  border-radius: 4px;
  background-color: var(--#{$prefix}dropdown-bg);
  color: var(--#{$prefix}body-color);
  font-family: inherit;
  font-size: $font-size-base;
  box-shadow: $shadow-depth-4;

  .shadow-none > &,
  .shadow-none > div & {
    box-shadow: none !important; // hide drop-shadow on datepicker popup
    border-color: var(--#{$prefix}border-color);
  }
  [data-bs-theme=dark] & {
    box-shadow: $shadow-depth-5;
  }
}

.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
  border-radius: $border-radius;
}

.react-datepicker__time-list-item {

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 $focus-ring-blur 2px $focus-ring-color;
    border-radius: $border-radius;
  }
}

.react-datepicker__header {
  background-color: $gray-300;
  border-bottom: 1px solid var(--#{$prefix}border-color);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  [data-bs-theme=dark] & {
    border-bottom-color: var(--#{$prefix}border-color-translucent);
    background-color: rgba($white, .04);
  }
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: var(--#{$prefix}body-color);
}

// navigation colors
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  top: 11px;
}

.react-datepicker__navigation--previous--disabled,
.react-datepicker__navigation--previous--disabled:hover,
.react-datepicker__navigation--next--disabled,
.react-datepicker__navigation--next--disabled:hover {
  opacity: 30%;
  cursor: default;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 91px;
}

// time-container
.react-datepicker__time-container {
  border-left: 1px solid var(--#{$prefix}border-color);
  width: 92px;

  [data-bs-theme=dark] & {
    border-color: var(--#{$prefix}border-color-translucent);
  }
}

.react-datepicker__time-container--with-today-button {
  border: 1px solid var(--#{$prefix}border-color);
  border-radius: $border-radius;

  [data-bs-theme=dark] & {
    border-color: var(--#{$prefix}border-color-translucent);
  }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  margin-right: 1px;
  width: 91px;

  .react-datepicker__time-list {
    padding-left: 0;
  }
  ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    cursor: pointer;
    background-color: $gray-300;

    [data-bs-theme=dark] & {
      background-color: var(--#{$prefix}dropdown-link-active-bg);
    }
  }
  ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: $secondary;
    }
  }
  ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
    color: $gray-600;

    &:hover {
      cursor: default;
      background-color: transparent;
    }
    [data-bs-theme=dark] & {
      color: var(--#{$prefix}tertiary-color);
    }
  }
}

.react-datepicker__time-container .react-datepicker__time {

  [data-bs-theme=dark] & {
    background-color: transparent;
  }
}

.react-datepicker__week-number {
  color: $gray-600;

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}tertiary-color);
  }
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: $border-radius;
  background-color: $gray-300;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}dropdown-link-active-bg);
  }
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: $black;

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}tertiary-color);
  }
}

.react-datepicker__day {

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}body-color);
  }
}

.react-datepicker__day:hover {
  border-radius: $border-radius;
  background-color: $gray-300;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}dropdown-link-active-bg);
  }
}

.react-datepicker__day--highlighted {
  border-radius: $border-radius;
  background-color: $primary;

  &:hover {
    background-color: darken($secondary, 10%);
  }
}

.react-datepicker__day--highlighted-custom-1 {
  color: $warning;
}

.react-datepicker__day--highlighted-custom-2 {
  color: $indigo;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: $border-radius;
  background-color: $secondary;
  color: $white;

  &:hover {
    background-color: darken($secondary, 10%);

    [data-bs-theme=dark] & {
      background-color: darken($secondary, 10%);
    }
  }
  &:focus-visible {
    outline: none;
    box-shadow: $focus-ring-box-shadow;
  }
}

.react-datepicker__day--keyboard-selected {
  border-radius: $border-radius;
  background-color: $dark;
  color: $white;
  outline: none;
  box-shadow: $focus-ring-box-shadow;

  &:focus-visible {
    outline: none;
    box-shadow: $focus-ring-box-shadow;
  }
  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}body-bg);
  }
  &:hover {
    background-color: darken($dark, 10%);

    [data-bs-theme=dark] & {
      background-color: rgba($black, .17);
    }
  }
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba($secondary, 0.18);
  color: $body-color;

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}body-color);
  }
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: $gray-300;
  color: $black;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}dropdown-link-active-bg);
    color: var(--#{$prefix}body-color);
  }
}

.react-datepicker__day--disabled {
  color: $gray-600;

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}tertiary-color);
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-top-color: var(--#{$prefix}border-color-translucent);
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border-radius: $border-radius;

  &:hover .react-datepicker__year-read-view--down-arrow,
  &:hover .react-datepicker__month-read-view--down-arrow {
    border-top-color: var(--#{$prefix}border-color);
  }
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: $gray-300;
  border-radius: $border-radius;
  border: 1px solid var(--#{$prefix}border-color-translucent);
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  &:hover {
    background-color: $gray-600;
  }
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: var(--#{$prefix}border-color);
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: var(--#{$prefix}border-color);
}

.react-datepicker__input-container {
  display: inline-flex;
}

.react-datepicker__close-icon {
  flex-shrink: 0;
  position: static;
  display: inline-block;
  padding-right: 0;
  width: 2.125rem;
  height: auto;
  min-height: 28px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath fill='%2329292b' d='M12 8.635l3.786-3.787a1.19 1.19 0 0 1 1.683 0l1.683 1.683a1.19 1.19 0 0 1 0 1.683L15.365 12l3.787 3.786a1.19 1.19 0 0 1 0 1.683l-1.683 1.683a1.19 1.19 0 0 1-1.683 0L12 15.365l-3.786 3.787a1.19 1.19 0 0 1-1.683 0l-1.683-1.683a1.19 1.19 0 0 1 0-1.683L8.635 12 4.848 8.214a1.19 1.19 0 0 1 0-1.683l1.683-1.683a1.19 1.19 0 0 1 1.683 0L12 8.635z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .625;

  [data-bs-theme=dark] & {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 viewBox=%270 0 24 24%27%3e%3cpath fill=%27%23ffffff%27 d=%27M12 8.635l3.786-3.787a1.19 1.19 0 0 1 1.683 0l1.683 1.683a1.19 1.19 0 0 1 0 1.683L15.365 12l3.787 3.786a1.19 1.19 0 0 1 0 1.683l-1.683 1.683a1.19 1.19 0 0 1-1.683 0L12 15.365l-3.786 3.787a1.19 1.19 0 0 1-1.683 0l-1.683-1.683a1.19 1.19 0 0 1 0-1.683L8.635 12 4.848 8.214a1.19 1.19 0 0 1 0-1.683l1.683-1.683a1.19 1.19 0 0 1 1.683 0L12 8.635z%27%3e%3c/path%3e%3c/svg%3e");
  }
  &:hover {
    opacity: 1;
  }
  &::after {
    display: none;
    content: '';
  }
  .form-control + & {
    margin-left: .25rem;
  }
}

.react-datepicker__today-button {
  background: $gray-300;
  border-top: 1px solid var(--#{$prefix}border-color-translucent);
}

.react-datepicker__portal {
  background-color: $gray-rgba-900;

  .react-datepicker__navigation--previous {
    border-right-color: var(--#{$prefix}border-color-translucent);

    &:hover {
      border-right-color: var(--#{$prefix}border-color);
    }
  }
  .react-datepicker__navigation--previous--disabled,
  .react-datepicker__navigation--previous--disabled:hover {
    border-right-color: var(--#{$prefix}border-color-translucent);
  }
  .react-datepicker__navigation--next {
    border-left-color: var(--#{$prefix}border-color-translucent);

    &:hover {
      border-left-color: var(--#{$prefix}border-color);
    }
  }
  .react-datepicker__navigation--next--disabled,
  .react-datepicker__navigation--next--disabled:hover {
    border-left-color: $gray-500;
  }
}


// remove bottom margin and update padding-right for valid check of form-control

.react-datepicker__input-container .form-control {
  margin-bottom: 0 !important;
  padding-right: calc(1.667em + 1rem); // padding for valid check icon
}


// input-time-container

.react-datepicker__input-time-container {
  border-top: 1px solid $table-border-color;
  margin: 0;
  padding: 10px 10px 10px 15px;
  float: none;

  [data-bs-theme=dark] & {
    border-color: var(--#{$prefix}border-color-translucent);
    background-color: rgba($white, .04);
  }
}

.react-datepicker-time__caption {
  font-weight: bold;
}

input.react-datepicker-time__input,
.react-datepicker__input-container input:not(.form-control) {
  border-radius: $input-border-radius-sm;
  border: 1px solid $input-border-color;
  height: $input-height-sm;
  padding: 0 $input-padding-y-sm;
  font-size: $input-font-size-sm;
  background-color: $input-bg;

  &:hover {
    box-shadow: $hover-shadow;
  }
  &:focus,
  &:focus-visible {
    outline: 0;
    outline-offset: 0;
    border-color: $secondary;
    color: var(--#{$prefix}body-color);
    background-color: $white !important;
    box-shadow: $focus-ring-box-shadow;
  }
  [data-bs-theme=dark] & {
    border-color: var(--#{$prefix}border-color);
    background-color: var(--#{$prefix}secondary-bg);

    &:hover {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    }
    &:focus,
    &:focus-visible {
      border-color: var(--#{$prefix}form-control-hover-border-color);
      background-color: var(--#{$prefix}secondary-bg) !important;
    }
  }
  .modal & {
    padding: 0.5rem 1rem;
    height: $input-height;
    font-size: 0.825rem;

    [data-bs-theme=dark] & {
      border-color: var(--#{$prefix}form-control-border-color);

      &:focus {
        border-color: var(--#{$prefix}form-control-hover-border-color);
      }
    }
  }
}
