// Sortable Field

.sortable-field {
  margin: .5rem 0;
  border: 1px solid $gray-600;
  min-height: 40px;
  padding: 0.25rem 0;
  font-size: 0.825rem;
  line-height: 1.7;
  border-radius: $border-radius;
  background-color: $white;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}secondary-bg);
    border-color: var(--#{$prefix}secondary-bg);
  }
}

.sortable-handle {
  cursor: move;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12); // $shadow-depth-4

    [data-bs-theme=dark] & {
      border-color: var(--#{$prefix}btn-border-color);
    }
  }
  &[draggable="true"] {
    border-color: $secondary;
    box-shadow: 0 0 0 2px rgba($secondary, .3), $shadow-depth-5;

    [data-bs-theme=dark] & {
      border-color: $secondary;
      box-shadow: 0 0 2px 3px rgba($secondary, .5), $shadow-depth-3, $shadow-depth-6;
    }
  }
  .btn:not(:focus):hover {
    box-shadow: none;
  }
}


// sortable ghost will reduce to a thin line when chosen item is selected

.sortable-ghost {
  min-height: 1px;
  padding: 0;

  > div {
    display: none !important;
  }
}


// Sortable List

.sortable-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin-bottom: 0.5rem;

  .alert {
    margin-bottom: 0;
    --bs-alert-padding-x: .625rem;
    --bs-alert-padding-y: .25rem;
  }
}

.sortable-item {
  // display: flex;
  justify-content: space-between;
  flex-grow: 1;
  // align-items: center;
  background-color: var(--#{$prefix}secondary-bg);
  border-radius: 3px;
  box-sizing: border-box;
  list-style: none;
  color: var(--#{$prefix}body-color);
  border: 1px solid $secondary;
  font-weight: 400;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 0 2px rgba($secondary, .3), $shadow-depth-5;

  [data-bs-theme=dark] & {
    box-shadow: 0 0 2px 3px rgba($secondary, .5), $shadow-depth-3, $shadow-depth-6;
  }

  .sortable-list & {
    border-color: var(--#{$prefix}border-color);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    [data-bs-theme=dark] & {
      border-color: #494e5a;  // todo use variable
    }
  }
}

.sortable-drag-handle {
  display: flex;
  width: 12px;
  padding: 8px 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: move !important;
  }
  &.disabled {
    background-color: transparent;
    cursor: not-allowed !important;
  }
  &:focus-visible {
    box-shadow: $focus-ring-box-shadow;
  }
}
