// Sortable Field

.sortable-field {
  margin: .5rem 0;
  border: 1px solid $gray-600;
  min-height: 40px;
  padding: 0.25rem 0;
  font-size: 0.825rem;
  line-height: 1.7;
  border-radius: $border-radius;
  background-color: $white;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}secondary-bg);
    border-color: var(--#{$prefix}secondary-bg);
  }
}

.sortable-handle {
  cursor: move;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12); // $shadow-depth-4

    [data-bs-theme=dark] & {
      border-color: var(--#{$prefix}btn-border-color);
    }
  }
  &[draggable="true"] {
    border-color: $secondary;
    box-shadow: 0 0 0 2px rgba($secondary, .3), $shadow-depth-5;

    [data-bs-theme=dark] & {
      border-color: $secondary;
      box-shadow: 0 0 2px 3px rgba($secondary, .5), $shadow-depth-3, $shadow-depth-6;
    }
  }
  .btn:not(:focus):hover {
    box-shadow: none;
  }
}


// sortable ghost will reduce to a thin line when chosen item is selected

.sortable-ghost {
  min-height: 1px;
  padding: 0;

  > div {
    display: none !important;
  }
}
