// Spinner

.spinner-border {
  color: $text-muted;
  flex-shrink: 0;

  &.text-light {
    color: $text-muted !important;
  }
  .card-header & {
    margin-left: .5rem;
    margin-right: auto;
    width: 1rem;
    height: 1rem;
    border-width: 0.125em;
  }
  .loading-fixed & {
    color: $gray-200 !important;

    [data-bs-theme=dark] & {
      color: $gray-700 !important;
    }
  }
}

.spinner-border-lg {
  width: 2.5rem;
  height: 2.5rem;
  animation: $spinner-transition;
}

.spinner-border-sm {
  --bs-spinner-vertical-align: -4px;
}
