// Spinner

.spinner-border {
  color: $text-muted;

  .card-header & {
    margin-left: .5rem;
    margin-right: auto;
    width: 1rem;
    height: 1rem;
    border-width: 0.125em;
  }
  .loading-fixed & {
    color: $gray-200 !important;

    body.theme-dark & {
      color: $gray-700 !important;
    }
  }
}

.spinner-border-lg {
  width: 2.5rem;
  height: 2.5rem;
  animation: $spinner-transition;
}
