// Status Background Colors

:root {
  --#{$prefix}status-archived:          #{$status-archived};
  --#{$prefix}status-archived-hover:    #{$status-archived-hover};
  --#{$prefix}status-deleted:           #{$status-deleted};
  --#{$prefix}status-deleted-hover:     #{$status-deleted-hover};
  --#{$prefix}status-draft:             #{$status-draft};
  --#{$prefix}status-draft-hover:       #{$status-draft-hover};
  --#{$prefix}status-expired:           #{$status-expired};
  --#{$prefix}status-expired-hover:     #{$status-expired-hover};
  --#{$prefix}status-pending:           #{$status-pending};
  --#{$prefix}status-pending-hover:     #{$status-pending-hover};
  --#{$prefix}status-published:         #{$status-published};
  --#{$prefix}status-published-hover:   #{$status-published-hover};
  --#{$prefix}status-scheduled:         #{$status-scheduled};
  --#{$prefix}status-scheduled-hover:   #{$status-scheduled-hover};
}

[data-bs-theme=dark] {
  --#{$prefix}status-archived:          #{$status-archived-dark};
  --#{$prefix}status-archived-hover:    #{$status-archived-hover-dark};
  --#{$prefix}status-deleted:           #{$status-deleted-dark};
  --#{$prefix}status-deleted-hover:     #{$status-deleted-hover-dark};
  --#{$prefix}status-draft:             #{$status-draft-dark};
  --#{$prefix}status-draft-hover:       #{$status-draft-hover-dark};
  --#{$prefix}status-expired:           #{$status-expired-dark};
  --#{$prefix}status-expired-hover:     #{$status-expired-hover-dark};
  --#{$prefix}status-pending:           #{$status-pending-dark};
  --#{$prefix}status-pending-hover:     #{$status-pending-hover-dark};
  --#{$prefix}status-published:         #{$status-published-dark};
  --#{$prefix}status-published-hover:   #{$status-published-hover-dark};
  --#{$prefix}status-scheduled:         #{$status-scheduled-dark};
  --#{$prefix}status-scheduled-hover:   #{$status-scheduled-hover-dark};
}


.status-status {
  background-color: var(--#{$prefix}body-bg) !important;

  .select__option:hover &:not(.badge) {
    background-color: var(--#{$prefix}tertiary-bg) !important;
  }
  .select__option.is-selected &:not(.badge) {
    background-color: var(--#{$prefix}tertiary-bg) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}dark-bg-subtle);
  }
}

tr.status-status,
.status-status-border {
  box-shadow: inset 2px 0 0 var(--#{$prefix}dark-bg-subtle);

  &:hover {
    background-color: var(--#{$prefix}tertiary-bg) !important;
  }
}

.status-archived {
  background-color: var(--#{$prefix}status-archived) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-archived-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}purple);
  }
  &.badge,
  &.status-copy {
    background-color: #d9d9fd !important;
    color: #6c3eb5;

    [data-bs-theme=dark] & {
      background-color: #6230b1 !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-archived,
.status-archived-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}purple);

  &:hover {
    background-color: var(--#{$prefix}status-archived-hover) !important;
  }
}

.status-deleted {
  background-color: var(--#{$prefix}status-deleted) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-deleted-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}warning);
  }
  &.badge,
  &.status-copy {
    background-color: #ffead3 !important;
    color: #a2621d;

    [data-bs-theme=dark] & {
      background-color: #bf6f11 !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-deleted,
.status-deleted-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}warning);

  &:hover {
    background-color: var(--#{$prefix}status-deleted-hover) !important;
  }
}

.status-draft {
  background-color: var(--#{$prefix}status-draft) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-draft-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}dark);
  }
  &.badge,
  &.status-copy {
    background-color: #eaeaed !important;
    color: #7a7a7c;

    [data-bs-theme=dark] & {
      background-color: #6f6f71 !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-draft,
.status-draft-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}dark);

  &:hover {
    background-color: var(--#{$prefix}status-draft-hover) !important;
  }
}

.status-expired {
  background-color: var(--#{$prefix}status-expired) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-expired-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}info);
  }
  &.badge,
  &.status-copy {
    background-color: #d1ecfd !important;
    color: #3a769b;

    [data-bs-theme=dark] & {
      background-color: #116792 !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-expired,
.status-expired-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}info);

  &:hover {
    background-color: var(--#{$prefix}status-expired-hover) !important;
  }
}

.status-pending {
  background-color: var(--#{$prefix}status-pending) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-pending-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}danger);
  }
  &.badge,
  &.status-copy {
    background-color: #f7dede !important;
    color: #b13939;

    [data-bs-theme=dark] & {
      background-color: #8c1e1e !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-pending,
.status-pending-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}danger);

  &:hover {
    background-color: var(--#{$prefix}status-pending-hover) !important;
  }
}

.status-published {
  background-color: var(--#{$prefix}body-bg) !important;

  .select__option &,
  &.select__value {
    background-color: var(--#{$prefix}status-published) !important; // todo: test .select__value exists
  }
  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-published-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}success);
    // position: relative;
    // z-index: 1;
  }
  &.badge,
  &.status-copy,
  &.dropdown-item {
    background-color: #d3f4e7 !important; // todo: test .dropdown-item exists
    color: #227254;

    [data-bs-theme=dark] & {
      background-color: #016d5a !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-published,
.status-published-border {
  background-color: var(--#{$prefix}body-bg) !important;
  box-shadow: inset 3px 0 0 var(--#{$prefix}success);

  &:hover {
    background-color: var(--#{$prefix}tertiary-bg) !important;
  }
}

.status-scheduled {
  background-color: var(--#{$prefix}status-scheduled) !important;

  .select__option:hover &,
  .select__option.is-selected &,
  .select__option--is-focused & {
    background-color: var(--#{$prefix}status-scheduled-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}yellow);
  }
  &.badge,
  &.status-copy {
    background-color: #fff3bd !important;
    color: #807108;

    [data-bs-theme=dark] & {
      background-color: #9c810f !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-scheduled,
.status-scheduled-border {
  box-shadow: inset 3px 0 0 var(--#{$prefix}yellow);

  &:hover {
    background-color: var(--#{$prefix}status-scheduled-hover) !important;
  }
}

.status-copy {
  position: relative;
  padding: 2px 6px;
  border-radius: $border-radius;
  margin-left: .25rem;
}

.status-failed {
  background-color: #ffd1d1 !important;

  [data-bs-theme=dark] & {
    background-color: var(--#{$prefix}status-pending) !important;
  }
  &.badge {
    background-color: #f7dede !important;
    color: #b13939;

    [data-bs-theme=dark] & {
      background-color: #8c1e1e !important;
      color: var(--#{$prefix}body-color);
    }
  }
}

tr.status-failed {
  box-shadow: inset 3px 0 0 var(--#{$prefix}danger);

  &:hover {
    background-color: darken(#ffd1d1, 3%) !important;

    [data-bs-theme=dark] & {
      background-color: var(--#{$prefix}status-pending-hover) !important;
    }
  }
}

.status-sent {
  background-color: #e1f6f3 !important;
}

tr.status-sent {
  background-color: #fff !important;
  box-shadow: inset 3px 0 0 #04c5a2;

  &:hover {
    background-color: darken(#e1f6f3, 3%) !important;
  }
}


// Batch Operation Status

tr.status-none {
  background-color: $gray-rgba-200 !important;

  &:hover {
    background-color: $gray-rgba-300 !important;
    box-shadow: inset 3px 0 0 var(--#{$prefix}light-text-emphasis);
  }
}

tr.status-running {
  background-color: var(--#{$prefix}status-expired) !important;
  box-shadow: inset 3px 0 0 var(--#{$prefix}info);
  // todo: check if body-color var needed

  &:hover {
    background-color: var(--#{$prefix}status-expired-hover) !important;
  }
}

tr.status-completed {
  background-color: var(--#{$prefix}body-bg) !important;
  box-shadow: inset 3px 0 0 #04c5a2;

  &:hover {
    background-color: var(--#{$prefix}tertiary-bg) !important;
  }
  &.results-fail {
    background-color: var(--#{$prefix}status-pending) !important;
    box-shadow: inset 3px 0 0 indianred;
    // todo: check if body-color var needed

    &:hover {
      background-color: var(--#{$prefix}status-pending-hover) !important;
    }
  }
}


// Status archive buttons

button:not(.disabled):hover,
button:not(.disabled):focus-visible {

  &.status-archived {
    background: var(--#{$prefix}status-archived-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}purple);
  }
  &.status-deleted {
    background: var(--#{$prefix}status-deleted-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}warning);
  }
  &.status-draft {
    background: var(--#{$prefix}status-draft-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}dark);
  }
  &.status-expired {
    background: var(--#{$prefix}status-expired-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}info);
  }
  &.status-pending {
    background: var(--#{$prefix}status-pending-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}danger);
  }
  &.status-published {
    background: var(--#{$prefix}status-published-hover) !important;
    box-shadow: inset 3px 0 0 var(--#{$prefix}success);
  }
  &.status-scheduled {
    background: var(--#{$prefix}status-scheduled-hover) !important;
    box-shadow: inset 2px 0 0 var(--#{$prefix}yellow);
  }
}

button.disabled[class^="status-"],
button.disabled[class*=" status-"] {
  color: var(--#{$prefix}tertiary-color);
}

button[class^="status-"],
button[class*=" status-"] {
  padding-top: .625rem;
  padding-bottom: .625rem;
}
