// SweetAlert2


.swal2-container {

  .swal2-show {
    animation: animate-bounce 0.3s;
    transform: none !important;
  }
  .swal2-popup {
    border-radius: $border-radius-lg;
    font-size: .875rem;
    box-shadow: $shadow-depth-6;
    padding: 2.5rem 2rem 1.5rem 2rem;
  }
  .swal2-popup .swal2-title {
    color: var(--#{$prefix}body-color);
    font-size: 1.675rem;
    font-weight: 500;
    letter-spacing: .008em;

    &:empty {
      display: none;
    }
  }
  .swal2-popup .swal2-content {
    color: var(--#{$prefix}tertiary-color);
    font-weight: 400;
  }
  .swal2-icon {
    margin-top: 0;
    border-width: 3px;
  }
  .swal2-icon-text {
    font-weight: 500;
    font-size: 3.8rem;
  }
  &.swal2-fade.swal2-shown {
    background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  }
  .screen-main &.swal2-shown {
    background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  }
  .swal2-popup .swal2-actions {
    flex-wrap: wrap;
  }

  // Button Colors
  .swal2-popup .swal2-styled.swal2-confirm {
    margin-bottom: .5rem;
    background-color: $secondary;
    border: 1px solid darken($secondary, 4%) !important;
    box-shadow: $shadow-depth-3;
    background-image: var(--#{$prefix}gradient);

    &:hover {
      background-color: darken($secondary, 7%);
      border-color: darken($secondary, 14%) !important;
    }
    [data-bs-theme=dark] & {
      background-image: var(--#{$prefix}gradient-dark);

      &:hover {
        background-color:darken($secondary, 12%);
        border-color: tint-color($secondary, 25%) !important;
      }
    }
  }

  .swal2-popup .swal2-styled.swal2-cancel {
    color: var(--bs-body-color);
    margin-bottom: .5rem;
    background-color: $light;
    border: 1px solid $gray-600 !important;
    box-shadow: $shadow-depth-3;
    background-image: var(--#{$prefix}gradient);

    &:hover {
      background-color: #e9e9eb;
      border-color: #ceceda !important;
    }
    [data-bs-theme=dark] & {
      background-color: var(--#{$prefix}secondary-bg);
      border: 1px solid var(--#{$prefix}form-control-border-color) !important;
      background-image: var(--#{$prefix}gradient-dark);

      &:hover {
        background-color: #212a36;
        border-color: var(--#{$prefix}form-control-hover-border-color) !important;
      }
    }
  }

  // todo update sweetalert button colors
  .swal2-popup .swal2-styled,
  .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled {

    @each $color, $value in $theme-colors {
      &.btn-#{$color} {
        color: $white;
        background: $value;
        border: 1px solid darken($value, 9%) !important;
        border-bottom-color: darken($value, 13%) !important;

        &:hover,
        &:focus {
          color: $white;
          background: darken($value, 6%) !important;
          border: 1px solid darken($value, 14%) !important;
          border-bottom-color: darken($value, 18%) !important;
        }
      }
      &.btn-warning {
        color: $white;
      }
      &.btn-outline-#{$color} {
        color: $body-color;
        background: $gray-300 !important;
        border: $input-btn-border-width solid $gray-600 !important;

        [data-bs-theme=dark] & {
          color: var(--#{$prefix}body-color);
          border-color: var(--#{$prefix}btn-border-color) !important;
          background: var(--#{$prefix}secondary-bg) !important;
        }
        &:hover,
        &:focus {
          color: $white;
          background: darken($value, 6%) !important;
          border: 1px solid darken($value, 14%) !important;
          border-bottom-color: darken($value, 18%) !important;

          [data-bs-theme=dark] & {
            background: darken($value, 6%) !important;
            border: 1px solid darken($value, 14%) !important;
            border-bottom-color: darken($value, 18%) !important;
          }
        }
      }
      &.btn-outline-light {
        color: $body-color;

        &:hover,
        &:focus {
          color: $body-color;
        }
        &:active,
        &.active {
          color: $body-color;
        }
      }
    }
  }

  .swal2-popup .swal2-styled,
  .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled {
  .btn-link-bg {
    color: $link-color;
    border-color: transparent !important;
    background: var(--#{$prefix}body-bg) !important;
    box-shadow: $shadow-depth-0;

    [data-bs-theme=dark] & {
      color: var(--#{$prefix}body-color) !important;
    }
  }

  &.btn-link-bg:hover,
  &.btn-link-bg.active {
    color: $link-color;
    border-color: transparent !important;
    background: $gray-400 !important;

    [data-bs-theme=dark] & {
      color: var(--#{$prefix}secondary-color) !important;
      background-color: var(--#{$prefix}tertiary-bg) !important;
      }
    }
  }


  // Icon Colors
  .swal2-icon.swal2-error {
    border-color: $danger;
    color: $danger;

    [class^='swal2-x-mark-line'] {
      background-color: $danger;
      border-radius: 1rem;
      height: .325em;
    }
  }
  .swal2-icon.swal2-question {
    border-color: $dark;
    color: $dark;

    [class^='swal2-x-mark-line'] {
      background-color: $dark;
      border-radius: 1rem;
    }
  }
  .swal2-icon.swal2-warning {
    border-color: $warning;
    color: $warning;

    [class^='swal2-x-mark-line'] {
      background-color: $warning;
      border-radius: 1rem;
    }
  }
  .swal2-icon.swal2-info {
    border-color: $info;
    color: $info;

    [class^='swal2-x-mark-line'] {
      background-color: $info;
      border-radius: 1rem;
    }
  }
  .swal2-icon.swal2-success {
    border-color: $success;
    color: $success;

    .swal2-success-ring {
      top: -3px;
      left: -3px;
      border-color: rgba($success, 1);
      border-width: 3px;
      animation: 1s ease 0s normal forwards 1 swal-border-fadein;
    }

    [class^='swal2-success-line'] {
      background-color: $success;
      border-radius: 1rem;
      height: .325em;
    }
  }
  .swal2-popup .swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
    background: transparent;
    border-width: 2px !important;
    border-color: rgba($black, .25) !important;
    border-top-color: transparent !important;
    box-shadow: none !important;
    animation: $spinner-transition;
  }
  .swal2-file:focus,
  .swal2-input:focus,
  .swal2-textarea:focus { // input focus
    border-color: $secondary;
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 $input-btn-focus-width 0 $input-btn-focus-color;
  }
  .swal2-container.swal2-backdrop-show,
  .swal2-container.swal2-noanimation {
    background: rgba(41, 41, 43, 0.4); // modal backdrop
  }
}


@keyframes swal-border-fadein {
  0% {
    opacity:.3;
  }
  33% {
    opacity:.3;
  }
  100% {
    opacity:1;
  }
}


// horizontal style

.swal2-horizontal {

  .swal2-header {
    display: none;
  }
  .swal2-container &.swal2-show  {
    animation: animate-slidein-right 0.3s;
  }
  .swal2-container &.swal2-popup  {
    display: flex !important;
    flex-direction: row;
    padding: 0;
    width: 360px;
    font-size: .75rem;

    .swal2-content {
      flex: 1 0 auto;
      padding: 0;
    }
    #swal2-content {
      text-align: left;
      margin: .75rem .5rem .75rem 1rem;
      width: 236px;

      h5 {
        color: $body-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        font-size: .8rem;
        margin-bottom: .5rem;
      }
    }
    .swal2-actions {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100px;
      border-left: 1px solid $border-color;
      background-color: $border-color;
      border-radius: 0 5px 5px 0;

      button {
        margin: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;

        &:first-of-type {
          border-top-right-radius: 5px;
        }
        &:last-child {
          border-bottom-right-radius: 5px;
          margin-top: 1px;
        }
      }
      [data-bs-theme=dark] & {
        border-color: var(--#{$prefix}btn-border-color);
        background-color: var(--#{$prefix}btn-border-color);
      }
    }
  }
}


// swal toast

.swal2-popup.swal2-toast {
  box-shadow: $shadow-depth-5 !important;
}


// swal spinner

.swal2-popup.swal-spinner {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  padding: 0;
  flex-grow: 0 !important;
  background: $gray-rgba-600;
  overflow: visible !important;
  transform: none !important;

  [data-bs-theme=dark] & {
    color: var(--#{$prefix}body-color) !important;
    background: $gray-rgba-600;
  }
}

.swal2-container .swal-spinner .swal2-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  border-width: 2px !important;
  border-color: $gray-600 !important;
  border-top-color: transparent !important;
  animation: spinner-border 0.5s linear infinite;
}

.swal2-container .swal2-popup.swal-spinner .swal2-title {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: none;
  padding: 4px 10px;
  margin: .75rem 0 0 30px;
  transform: translateX(-50%);
  font-size: .825rem;
  color: $gray-200;
  background: $gray-rgba-600;
  border-radius: $round;
  box-shadow: $shadow-depth-7;
  pointer-events: none;
  white-space: nowrap;

  [data-bs-theme=dark] & {
    color: $gray-700 !important;
  }
}

.swal2-popup.swal2-show.swal-spinner {
  animation: animate-bounce 0.3s;
}


// toast animation

@keyframes swal2-toast-show-slide-left {
  0% {
    // transform: translateY(120%);
    left: 100%;
  }
  100% {
    // transform: translateY(0);
    left: 0;
  }
}

.swal2-container {
  .swal2-popup {
    &.swal2-toast {
      box-shadow: $shadow-depth-4 !important;
    }
  }
}

.swal2-top-end {
  padding-top: 107px !important;
  padding-bottom: 20px !important;
  padding-right: 10px !important;

  .swal2-popup {
    &.swal2-toast {
      &.swal2-show {
        animation: swal2-toast-show-slide-left $transition;
      }
    }
  }
  @media (min-width: 1025px) {
    padding-top: 125px !important;
  }
  @media (min-width: 1500px) {
    padding-top: 133px !important;
  }
}

// dark theme

[data-bs-theme=dark] {
  .swal2-html-container {
    color: var(--#{$prefix}tertiary-color);
  }
  .swal2-file,
  .swal2-input,
  .swal2-textarea {
    border: 1px solid var(--#{$prefix}form-control-border-color);
    background-color: var(--#{$prefix}secondary-bg);
    color: var(--#{$prefix}body-color);
  }
}
