// toast themes


.toast {
  border: none;
  overflow: hidden;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .3), $toast-box-shadow;

  [data-bs-theme=dark] & {
    --#{$prefix}toast-bg: var(--#{$prefix}dropdown-bg);
  }
}

.toast-header {
  // --bs-toast-header-bg: transparent;
  // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.toast-body {
  background-color: $gray-rgba-200;
}

@each $color, $value in $theme-colors {
  .toast--#{$color} {
    background-color: darken($value, 3%);

    .toast-header {
      color: $white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

      strong {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
      }
    }
    .toast-body,
    .btn-close {
      color: $white;
    }
  }
}

.toast-header {

  .btn-close {
    position: relative;
    margin-top: -.5rem;
    margin-left: .5rem;
    background: none;
    opacity: .5;

    &::before {
      content: "×";
      font-weight: 700;
      font-size: 1.2375rem;
      line-height: 0.5;
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.card-body .toast:not(:last-child) {
  margin-bottom: $toast-spacing;
}
