@import "../../../../assets/styles/variables.scss";

.placeholder-label-holder {
  vertical-align: top;
  display: inline-block;
  margin-top: .25rem;
  margin-left: .5rem;

  .label {
    word-spacing: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    user-select: none; // selecting this text opens the inline toolbar
    text-transform: none;
    font-size: 14px;
    color: var(--#{$prefix}body-color);
    letter-spacing: 0;;
  }
}

// todo check to see if this can be removed
// adds popup preview of the image used in site specific blocks
.blocksmith-image-preview {
  #dismiss-preview {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: none;
    color: $gray-600;
    z-index: 1;
    background-color: $gray-rgba-700;

    &:hover {
      color: $white;
    }
  }
  .img-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid $gray-700;
    padding: 5px;
    max-width: 100%;
    max-height: 400px;
    min-width: 105px;
    min-height: 100px;
    background: $gray-400;
    box-shadow: inset 0 0 0 5px $white;

    [data-bs-theme=dark] & {
      background: var(--dropdown-bg);
      box-shadow: inset 0 0 0 5px var(--dropdown-bg);
      border-color: var(--dropdown-bg-highlight);
    }
    &:after,
    &:before {
      top: 100%;
      left: 4.9375rem;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: transparent;
      border-top-color: $white;
      border-width: 10px;
      margin-left: -10px;

      [data-bs-theme=dark] & {
        border-top-color: var(--dropdown-bg);
      }
    }
    &:before {
      border-color: transparent;
      border-top-color: $gray-700;
      border-width: 11px;
      margin-left: -11px;

      [data-bs-theme=dark] & {
        border-top-color: var(--dropdown-bg-highlight);
      }
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 388px;
      object-fit: contain;
    }
  }
}
