.SortableItem {
  // display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  background-color: var(--#{$prefix}secondary-bg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1); // 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05), 0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15)
  border-radius: 3px; // calc(4px / var(--scale-x, 1))
  box-sizing: border-box;
  list-style: none;
  color: var(--#{$prefix}body-color);
  border: 1px solid var(--#{$prefix}border-color);
  font-weight: 400;
  font-size: 1rem;
  font-family: sans-serif;

  [data-bs-theme=dark] & {
    border-color: #494e5a;  // todo use variable
  }
}

.DragHandle {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background-color: white;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--#{$prefix}secondary);
  }

  svg {
    flex: 0 0 auto;
    margin: auto;
    height: 100%;
    overflow: visible;
    color: #919eab; // todo use variable
  }
}


.SortableList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin-bottom: 0.5rem;
}
