.quote-preview {
  text-align: left;
  width: 250px;
  padding-top: 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .quote {
    font-weight: bold;
  }
  .source-url {
    text-decoration: underline;
  }
}
