.blocksmith {
  position: relative;
}

.blocksmith-inner {
  position: relative;
}

.blocksmith-input {
  min-height: 250px;
  resize: none;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: .75rem 1rem;
  caret-color: var(--bs-tertiary-color);

  .paragraph {
    font-size: .9375rem;
  }
}

.blocksmith-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 12px;
  left: 16px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.blocksmith .text-bold {
  font-weight: bold;
}

.blocksmith .text-italic {
  font-style: italic;
}

.blocksmith .text-underline {
  text-decoration: underline;
}

.blocksmith .text-strikethrough {
  text-decoration: line-through;
}

.blocksmith .text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.blocksmith .text-highlight {
  background-color: yellow;
}

.blocksmith a {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.blocksmith .paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.blocksmith .paragraph:last-child {
  margin-bottom: 0;
}

.blocksmith .list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.blocksmith .list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.blocksmith .listitem {
  margin: 8px 32px 8px 32px;
}

.blocksmith .nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.blocksmith .toolbar {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid var(--bs-dark-border-subtle);
}

.blocksmith .toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.blocksmith .toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.blocksmith .toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.blocksmith .toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.blocksmith .toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.blocksmith .toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.blocksmith .toolbar button.toolbar-item.active i {
  opacity: 1;
}

.blocksmith .toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.blocksmith .toolbar .divider {
  width: 1px;
  background-color: var(--bs-dark-border-subtle);
  margin: 0 4px;
}

.blocksmith .toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.blocksmith .toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.blocksmith i.bold {
  background-image: url(./icons/type-bold.svg);
}

.blocksmith i.highlight {
  background-image: url(./icons/type-underline.svg);
  background-color: yellow;
}

.blocksmith i.italic {
  background-image: url(./icons/type-italic.svg);
}

.blocksmith i.underline {
  background-image: url(./icons/type-underline.svg);
}

.blocksmith i.strikethrough {
  background-image: url(./icons/type-strikethrough.svg);
}

