@import "draggable";

.blocksmith {
  position: relative;
}

.blocksmith-inner {
  position: relative;
}

.blocksmith-input {
  min-height: 250px;
  resize: none;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: .75rem 1rem;
  caret-color: var(--bs-tertiary-color);

  .paragraph {
    font-size: .9375rem;
  }
}

.blocksmith-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 12px;
  left: 16px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.blocksmith .text-bold {
  font-weight: bold;
}

.blocksmith .text-italic {
  font-style: italic;
}

.blocksmith .text-underline {
  text-decoration: underline;
}

.blocksmith .text-strikethrough {
  text-decoration: line-through;
}

.blocksmith .text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.blocksmith .text-highlight {
  // background-color: yellow; handled by mark
}

.blocksmith a {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.blocksmith .paragraph {
  margin: 0 0 8px 0;
  position: relative;
}

.blocksmith .paragraph:last-child {
  margin-bottom: 0;
}

.blocksmith .list-ol,
.blocksmith .list-ul {
  padding: 0;
  margin: 0 0 0 16px;
  font-size: .9375rem;
}

.blocksmith .listitem {
  margin: 8px 16px;
}

.blocksmith .nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.blocksmith .toolbar {
  display: flex;
  padding: 4px;
  // border-bottom: 1px solid var(--bs-dark-border-subtle);
  background-color: var(--bs-body-bg);
  box-shadow: $box-shadow-sm;
}

.blocksmith .toolbar-item {
  border: 0;
  display: inline-flex;
  background: none;
  border-radius: 6px;
  padding: 5px 8px;
  cursor: pointer;
  justify-content: center;
  margin: 0 1px;
  color: var(--bs-body-color);
}

.blocksmith .toolbar-item:disabled {
  cursor: not-allowed;
}

.blocksmith .toolbar-item.active {
  background-color: var(--#{$prefix}status-expired);
}

.blocksmith .toolbar-item:hover:not([disabled]) {
  background-color: $gray-rgba-100;
}

.blocksmith .dropdown-item {
  --bs-dropdown-item-padding-x: .75rem;
}

.blocksmith .active .icon {
  opacity: 1;
}

.blocksmith button:disabled .icon {
  opacity: 0.2;
}

// icons

.icon-article-block {
  background-image: url(../../img/icons/book-open.svg);
}

.icon-audio-block {
  background-image: url(../../img/icons/audio.svg);
}

.icon-document-block {
  background-image: url(../../img/icons/document.svg);
}

.icon-eme-form-block {
  background-image: url(../../img/icons/short-text.svg);
}

.icon-gallery-block {
  background-image: url(../../img/icons/gallery.svg);
}

.icon-image-block {
  background-image: url(../../img/icons/camera.svg);
}

.icon-poll-block {
  background-image: url(../../img/icons/poll.svg);
}

.icon-poll-grid-block {
  background-image: url(../../img/icons/poll-grid.svg);
}

.icon-quote-block {
  background-image: url(../../img/icons/quote.svg);
}

.icon-video-block {
  background-image: url(../../img/icons/play-outline.svg);
}

.icon-divider-block {
  background-image: url(../../img/icons/minus-line.svg);
}

.icon-heading-block {
  background-image: url(../../img/icons/header.svg);
}

.icon-page-break-block {
  background-image: url(../../img/icons/page-break.svg);
}

.icon-code-block {
  background-image: url(../../img/icons/code.svg);
}

.icon-iframe-block {
  background-image: url(../../img/icons/iframe.svg);
}

.icon-facebook-post-block {
  background-image: url(../../img/icons/facebook-circle.svg);
}

.icon-facebook-video-block {
  background-image: url(../../img/icons/facebook.svg);
}

.icon-google-map-block {
  background-image: url(../../img/icons/google.svg);
}

.icon-imgur-post-block {
  background-image: url(../../img/icons/imgur.svg);
}

.icon-instagram-media-block {
  background-image: url(../../img/icons/instagram.svg);
}

.icon-pinterest-pin-block {
  background-image: url(../../img/icons/pinterest.svg);
}

.icon-soundcloud-audio-block {
  background-image: url(../../img/icons/soundcloud.svg);
}

.icon-spotify-embed-block {
  background-image: url(../../img/icons/spotify.svg);
}

.icon-tiktok-embed-block {
  background-image: url(../../img/icons/tiktok.svg);
}

.icon-tumblr-post-block {
  background-image: url(../../img/icons/tumblr.svg);
}

.icon-twitter-tweet-block {
  background-image: url(../../img/icons/x.svg);
}

.icon-vimeo-video-block {
  background-image: url(../../img/icons/vimeo.svg);
}

.icon-youtube-playlist-block {
  background-image: url(../../img/icons/playlist.svg);
}

.icon-youtube-video-block {
  background-image: url(../../img/icons/youtube.svg);
}

i.icon {

  [data-bs-theme=dark] & {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}
