.blocksmith {
  border-radius: 2px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blocksmith-inner {
  background: #fff;
  position: relative;
}

.blocksmith-input {
  min-height: 250px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.blocksmith .placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.blocksmith .text-bold {
  font-weight: bold;
}

.blocksmith .text-italic {
  font-style: italic;
}

.blocksmith .text-underline {
  text-decoration: underline;
}

.blocksmith .text-strikethrough {
  text-decoration: line-through;
}

.blocksmith .text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.blocksmith .text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.blocksmith .link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.blocksmith .code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.blocksmith .code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.blocksmith .code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.blocksmith .tokenComment {
  color: slategray;
}

.blocksmith .tokenPunctuation {
  color: #999;
}

.blocksmith .tokenProperty {
  color: #905;
}

.blocksmith .tokenSelector {
  color: #690;
}

.blocksmith .tokenOperator {
  color: #9a6e3a;
}

.blocksmith .tokenAttr {
  color: #07a;
}

.blocksmith .tokenVariable {
  color: #e90;
}

.blocksmith .tokenFunction {
  color: #dd4a68;
}

.blocksmith .paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.blocksmith .paragraph:last-child {
  margin-bottom: 0;
}

.blocksmith .heading-h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.blocksmith .heading-h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.blocksmith .quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.blocksmith .list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.blocksmith .list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.blocksmith .listitem {
  margin: 8px 32px 8px 32px;
}

.blocksmith .nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.blocksmith .toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.blocksmith .toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.blocksmith .toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.blocksmith .toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.blocksmith .toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.blocksmith .toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.blocksmith .toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.blocksmith .toolbar button.toolbar-item.active i {
  opacity: 1;
}

.blocksmith .toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.blocksmith .toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.blocksmith .toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.blocksmith .toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.blocksmith i.undo {
  background-image: url(./icons/arrow-counterclockwise.svg);
}

.blocksmith i.redo {
  background-image: url(./icons/arrow-clockwise.svg);
}

.blocksmith i.bold {
  background-image: url(./icons/type-bold.svg);
}

.blocksmith i.italic {
  background-image: url(./icons/type-italic.svg);
}

.blocksmith i.underline {
  background-image: url(./icons/type-underline.svg);
}

.blocksmith i.strikethrough {
  background-image: url(./icons/type-strikethrough.svg);
}

.blocksmith i.left-align {
  background-image: url(./icons/text-left.svg);
}

.blocksmith i.center-align {
  background-image: url(./icons/text-center.svg);
}

.blocksmith i.right-align {
  background-image: url(./icons/text-right.svg);
}

.blocksmith i.justify-align {
  background-image: url(./icons/justify.svg);
}
