@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~@triniti/admin-ui-plugin/components/app/variables";
// @import "../../../../src/components/app/variables";

// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Table of Contents
//
// Color system
// Options
// Spacing
// Body
// Links
// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components
// Tables
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code


// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:           $gray-900;
$yiq-text-light:          $white;


// Navbar

$navbar-brand-padding-y: 0;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:   2rem;
$card-columns-gap:    1rem;


// Components
//
// Define common padding and radius sizes and more.

$border-color:                $gray-700;

$border-radius:               3px;
$border-radius-lg:            .25rem;
$border-radius-sm:            3px;
$border-radius-xl:            6px !default;

$box-shadow-sm:               $shadow-depth-2;
$box-shadow:                  $shadow-depth-3;
$box-shadow-lg:               $shadow-depth-6;

$component-active-color:      $white;
$component-active-bg:         theme-color("secondary");  // $gray-200 theme-color("primary") !default; affects $input-btn-focus-color


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-bold:        700;

$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: .9rem;
$h6-font-size: .825rem;

$font-size-base:              .825rem; // Assumes the browser default, typically `16px` = `13.2px`
$font-size-lg:                1rem;
$font-size-sm:                .8rem;


$line-height-base:            1.5;
$headings-line-height:        1.1;


$display1-size:               3rem;
$display2-size:               2.5rem;
$display3-size:               2rem;
$display4-size:               1.5rem;

$lead-font-size:              1.25rem;

$text-muted:                  #bababa;

$blockquote-small-color:      $gray-600;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-accent-bg:               $gray-100;
$table-hover-bg:                $gray-100;
$table-head-bg:                 $white;
$table-head-color:              $gray-900;
$table-cell-padding-sm:         .375rem;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem;
$input-btn-padding-y-lg:      .75rem;
$input-btn-padding-x-lg:      1.5rem;
$input-padding-x-lg:          1.25rem;
$btn-font-weight:             500;
$btn-box-shadow:              none;
$btn-focus-width:             0;
$btn-focus-box-shadow:        none;
$btn-active-box-shadow:       none;
$btn-link-disabled-color:     $gray-700;
$btn-disabled-opacity:        .5;
$btn-focus-box-shadow:        none !important;
$btn-active-box-shadow:       none !important;
$input-btn-line-height:       1.7;
$form-check-input-margin-x:             .3125rem;
$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem;


// Allows for customizing button radius independently from global border radius

$btn-transition:                 background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Allows for customizing button radius independently from global border radius
$border-radius:               3px;
$border-radius-lg:            3px;
$border-radius-sm:            2px;


// Forms

$input-line-height:              1.7;
$line-height-sm:                 1.45;
$line-height-lg:                 1.8;
$input-bg:                       $gray-200;
$input-color:                    $gray-900;
$input-border-color:             $gray-700; // rgba($black,.125)
$input-box-shadow:               none;
$form-group-margin-bottom:       1.25rem;
$input-focus-width:              1px; // width of outer glow
$input-focus-box-shadow:         0 0 0 $input-focus-width rgba($component-active-bg, .25);
$input-placeholder-color:        $text-muted;
$input-group-addon-bg:           $white;

$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg;
$custom-control-indicator-bg:                   #gray-300;
$custom-file-focus-box-shadow:                  $input-focus-box-shadow;
$custom-control-indicator-bg-size:              64% 64%;
$custom-file-line-height:                       2;
$custom-control-indicator-size:                 1.25rem;
$custom-control-indicator-box-shadow:           inset 0 0 0 2px rgba($black, .1);

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-border-color:          rgba($black,.125);
$dropdown-divider-bg:            $gray-300;
$dropdown-box-shadow:            $shadow-depth-4;
$dropdown-link-active-bg:        $dropdown-link-hover-bg;
$dropdown-link-disabled-color:   $text-muted;
$dropdown-header-color:          $gray-900;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:           1025;
$zindex-popover:            1025;


// Navs

$nav-link-disabled-color:       $text-muted;
$nav-tabs-border-color:                       $gray-600;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:                  $black;
$nav-tabs-link-active-border-color:           $gray-600;
$nav-tabs-link-active-bg:                     $white;


// Navbar

$navbar-toggler-border-radius:       0;
$navbar-dark-color:                 rgba($white,.6);
$navbar-dark-hover-color:           rgba($white,.825);
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath d='M1 4.25h22v1.5H1v-1.5zm0 7h22v1.5H1v-1.5zm0 7h22v1.5H1v-1.5z' fill='%23fff' /%3e%3c/svg%3e");
$navbar-dark-toggler-border-color:  transparent;
$navbar-light-color:                rgba($black,.6);
$navbar-light-hover-color:          rgba($black,.8);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath d='M1 4.25h22v1.5H1v-1.5zm0 7h22v1.5H1v-1.5zm0 7h22v1.5H1v-1.5z'/%3e%3c/svg%3e");
$navbar-light-toggler-border-color: transparent;
$nav-pills-link-active-bg:          theme-color("secondary");


// Pagination

$pagination-color:                     $body-color;
$pagination-border-color:              $gray-600;
$pagination-hover-border-color:        $gray-600;
$pagination-active-bg:                 theme-color("secondary");
$pagination-active-border-color:       theme-color("secondary");
$pagination-disabled-color:            $text-muted;
$pagination-disabled-bg:               $gray-200;
$pagination-disabled-border-color:     $gray-600;


// Jumbotron

$jumbotron-bg:                   transparent;


// Cards

$card-spacer-x:            1.5rem;
$card-border-width:        1px;
$card-border-radius:       0;
$card-border-color:        $gray-600;
$card-inner-border-radius: 0;
$card-cap-bg:              $white;
$card-bg:                  $white;
$card-columns-margin:      1.25rem;


// Tooltips

$tooltip-bg:                  $gray-900;
$tooltip-opacity:             .98;
$tooltip-padding-y:           5px;
$tooltip-padding-x:           10px;
$tooltip-margin:              3px;
$tooltip-arrow-width:         10px;
$tooltip-arrow-height:        5px;


// Popovers

$popover-box-shadow:                  0 10px 8px -6px rgba(0,0,0,0.1);
$popover-header-bg:                   $gray-200;
$popover-header-padding-x:            .875rem;
$popover-body-padding-y:              9px;
$popover-body-padding-x:              $popover-header-padding-x;
$popover-arrow-width:                 14px;
$popover-arrow-height:                9px;


// Badges

$badge-padding-y:             .33em;
$badge-padding-x:             .6em;


// Modals

$modal-content-box-shadow-xs:    $shadow-depth-4;
$modal-content-box-shadow-sm-up: $shadow-depth-5;
$modal-content-border-color:     $gray-rgba-300;
$modal-backdrop-bg:              $gray-900;
$modal-backdrop-opacity:         .33;
$modal-header-border-color:      $gray-500;
$modal-header-padding:           1rem;
$modal-md:                       560px;
$modal-content-border-radius:    6px;


// Alerts

$alert-border-radius:         $border-radius-lg;
$alert-margin-bottom:         .75rem;


// Progress bars

$progress-height:               1.25rem;
$progress-font-size:            .75rem;
$progress-bg:                   $gray-400;
$progress-border-radius:        10rem;


// List group

$list-group-bg:                       transparent;
$list-group-border-color:             rgba(#000, .1);
$list-group-active-bg:                $gray-400;
$list-group-active-border-color:      $gray-600;
$list-group-action-color:             $gray-900;
$list-group-disabled-bg:              $white;
$list-group-bg:                       $white;

// Image thumbnails

$thumbnail-bg:                $white;
$thumbnail-border-color:      $gray-500;


// Breadcrumbs

$breadcrumb-padding-y:          0;
$breadcrumb-padding-x:          0;
$breadcrumb-item-padding:       .75rem;
$breadcrumb-margin-bottom:      0;
$breadcrumb-bg:                 transparent;
$breadcrumb-active-color:       $gray-900;


// Carousel

$carousel-indicator-height:         1px;
$carousel-control-prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#fff' viewBox='0 0 24 24'%3E%3Cpath d='M7.594 12l9.471 9.461c.581.581.581 1.523 0 2.103a1.49 1.49 0 0 1-2.105 0L4.436 13.052a1.486 1.486 0 0 1 0-2.104L14.96.436a1.49 1.49 0 0 1 2.49.666c.138.513-.009 1.061-.385 1.437L7.595 12z'/%3E%3C/svg%3E"), "#", "%23");
$carousel-control-next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#fff' viewBox='0 0 24 24'%3E%3Cpath d='M15.907 12l-9.47-9.461A1.486 1.486 0 0 1 7.102.05a1.49 1.49 0 0 1 1.438.385l10.524 10.512a1.486 1.486 0 0 1 0 2.104L8.54 23.564a1.49 1.49 0 0 1-2.49-.666c-.138-.513.009-1.061.385-1.437L15.906 12z'/%3E%3C/svg%3E"), "#", "%23");

@import "variables-custom";
@import "~bootstrap/scss/variables";
