// Custom Variables for use with Triniti Components
//
// Variables not used in _variables.scss in case the two are separated

// referenced in _type but in _variables - $font-size-h1 is the variable
$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: .825rem !default;


// Calculations for Header and Offcanvas
$header-height:                 48px !default;


// Offcanvas
$offcanvas-desktop-margin:      262px !default;
$offcanvas-width:               300px !default;


// Transition to be used with any parameter, use instead of -base, -fade, -collapse
$transition:         250ms ease-in-out !default;


// Common Transparent Grays
$gray-rgba-100:      rgba(#292929, .04) !default;
$gray-rgba-200:      rgba(#000, .0625) !default;
$gray-rgba-300:      rgba(#000, .1) !default;
$gray-rgba-400:      rgba(#000, .125) !default;
$gray-rgba-500:      rgba(#000, .15) !default;
$gray-rgba-600:      rgba(#000, .2) !default;
$gray-rgba-700:      rgba(#000, .5) !default;
$gray-rgba-800:      rgba(#000, .625) !default;
$gray-rgba-900:      rgba(#000, .8) !default;


// Common Transparent Whites
$white-rgba-100:     rgba(#fff, .0625) !default;
$white-rgba-200:     rgba(#fff, .1) !default;
$white-rgba-300:     rgba(#fff, .125) !default;
$white-rgba-400:     rgba(#fff, .25) !default;
$white-rgba-500:     rgba(#fff, .5) !default;
$white-rgba-600:     rgba(#fff, .625) !default;
$white-rgba-700:     rgba(#fff, .75) !default;
$white-rgba-800:     rgba(#fff, .8) !default;
$white-rgba-900:     rgba(#fff, .9) !default;


// Icon Fills
$icon-fill-light:    #fff !default;
$icon-fill-dark:     #000 !default;
$icon-theme-light:   str-slice(quote($icon-fill-dark), 2) !default;
$icon-theme-dark:    str-slice(quote($icon-fill-light), 2) !default;


// Common side padding
$padding-xl:         2.5rem !default;
$padding-lg:         2rem !default;
$padding-md:         1.5rem !default;
$padding-sm:         1.25rem !default;
$padding-xs:         1rem !default;


// Common Text Shadow
$text-shadow:        0 1px 3px rgba(0, 0, 0, 0.1);


// Custom Rounded for border-radius when 50% isn't working
$round:              10rem;


//
$font-size-xl:   1rem !default;


// Navbar Brand Logo
$navbar-logo-dark-color:  rgba(#fff, .9) !default;
$navbar-logo-light-color: rgba(#000, .9) !default;
$navbar-logo-dark:        str-replace(url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 71.9 28.4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='#{$navbar-logo-dark-color}' d='M30.4 1.9a1 1 0 0 0 0-2H1C.4 0 0 .4 0 1c0 .5.4 1 1 1h7.5c.1 0 3.6-.3 3.5 2.8v20.4c0 1.7 1.8 3.2 3.4 3.2h.4c1.7 0 3.4-1.6 3.4-3.2V4.5c.1-2.9 3.5-2.6 3.5-2.6h7.7zm17.7 3.7h-1A3 3 0 0 0 44.6 7l-.4.6-3.2 6.3a251 251 0 0 1-2.5 4.8c-1 1.9-2.2.3-2.6-.4l-1.5-2.6-4.8-9.2c-1.3-2.5-3.9-1.9-5-1.3-1.1.6-1.7 1.9-1.7 3.3v18.3c0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4v-8.3c0-2 2-2.6 2.9-1.1a569 569 0 0 1 5.3 9.7c.4.6.8.9 1 1 .5.3 1.4.1 2-1.1l4.2-8.2.7-1.4c.3-.5.6-1 1.4-1 1 0 1.3.6 1.3 1.7v6.7c0 1.9 1.3 3.2 3 3.2h.7c1.7 0 2.8-1.6 2.8-3.2V8.6a3 3 0 0 0-2.9-3zM71 26.3h-7.2c-1.5 0-1.8-.7-2-1.2-.2-.5.2-1.8.7-2.9l5.3-11.5 2-3.7.1-.2v-.3c0-.5-.4-1-.9-1H54.7c-.5 0-.9.4-.9 1 0 .5.4 1 .9 1h5.8c.5.1.9.5.9 1.1v.3l-6 13-.8 1.5c-.4.8-1.6 3-.5 4.4.6.8 2.5.7 4.2.7H71c.5 0 .9-.4.9-1 0-.7-.4-1.2-.9-1.2z'/%3e%3c/svg%3e"), "#", "%23");
$navbar-logo-light:       str-replace(url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 71.9 28.4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='#{$navbar-logo-light-color}' d='M30.4 1.9a1 1 0 0 0 0-2H1C.4 0 0 .4 0 1c0 .5.4 1 1 1h7.5c.1 0 3.6-.3 3.5 2.8v20.4c0 1.7 1.8 3.2 3.4 3.2h.4c1.7 0 3.4-1.6 3.4-3.2V4.5c.1-2.9 3.5-2.6 3.5-2.6h7.7zm17.7 3.7h-1A3 3 0 0 0 44.6 7l-.4.6-3.2 6.3a251 251 0 0 1-2.5 4.8c-1 1.9-2.2.3-2.6-.4l-1.5-2.6-4.8-9.2c-1.3-2.5-3.9-1.9-5-1.3-1.1.6-1.7 1.9-1.7 3.3v18.3c0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4v-8.3c0-2 2-2.6 2.9-1.1a569 569 0 0 1 5.3 9.7c.4.6.8.9 1 1 .5.3 1.4.1 2-1.1l4.2-8.2.7-1.4c.3-.5.6-1 1.4-1 1 0 1.3.6 1.3 1.7v6.7c0 1.9 1.3 3.2 3 3.2h.7c1.7 0 2.8-1.6 2.8-3.2V8.6a3 3 0 0 0-2.9-3zM71 26.3h-7.2c-1.5 0-1.8-.7-2-1.2-.2-.5.2-1.8.7-2.9l5.3-11.5 2-3.7.1-.2v-.3c0-.5-.4-1-.9-1H54.7c-.5 0-.9.4-.9 1 0 .5.4 1 .9 1h5.8c.5.1.9.5.9 1.1v.3l-6 13-.8 1.5c-.4.8-1.6 3-.5 4.4.6.8 2.5.7 4.2.7H71c.5 0 .9-.4.9-1 0-.7-.4-1.2-.9-1.2z'/%3e%3c/svg%3e"), "#", "%23");
$navbarlogo-width:        3.8125rem;

$body-color-light: #8a8a8c !default;