.key-values-field {
  .key-values-field__select-dropdown {
    width: 9.2rem;
  }
  .key-values-field__string {
    width: 22rem;
  }
  .key-values-field__boolean {
    width: 8rem;
  }
  .key-values-field__button {
    margin-top: 2px;
  }
  .key-values-field__number {
    width: 9.2rem;
  }
  .react-numeric-input {
    max-width: 9.2rem;
  }
}