// BEGIN EDITOR STYLES //

#block-editor {
  position: relative;
  border: 1px solid $gray-700;
  border-radius: 3px;
}

// this is the placeholder. the default draft placeholder prop allows selecting the text
// which is not how standard html placeholders work
#block-editor.empty {
  div[data-contents="true"]:first-child::after {
    position: absolute;
    top: 1.25rem;
    left: 1.5rem;
    content: 'Start typing here, or click a plus icon to add a new block.';
    font-size: 1.2em;
    word-spacing: .17em;
    color: $text-light; // #636c72
    cursor: text;
    pointer-events: none;

    @media (max-width: 500px) {
      top: .5rem;
      left: 1.25rem;
      padding-right: .5rem;
    }
  }
}

.btn-radius-round span:not(.badge-alert) {
  margin: 0 .25rem 0 0;
}

// this needs to be set so that the loading animation and the incoming placeholder render with the same height, otherwise
// the sidebar will be positioned incorrectly after requesting a placeholder that will lazy load
.loading-animation {
  height: 3rem;
}

.block-preview-article,
.block-preview-audio,
.block-preview-gallery,
.block-preview-image,
.block-preview-video {
  position: relative;
  width: calc(100% / 2.4);
  max-width: 540px;
  border: none;
  margin: 0 auto;
  padding: 0;
  cursor: auto;

  @media(max-width: 650px) {
    width: 100%;
    min-width: 0;
  }

  img {
    width: 100%;
  }
}

#block-editor {
  a {
    color: $secondary;
  }
  .drag-area {
    position: absolute;
    height: 10px;
    width: calc(100% - 10rem);
    outline: none;
  }
  li .drag-area {
    width: calc(100% - 2rem);
  }
  .draggable {
    cursor: grab;
  }
  .draggable-top {
    cursor: grab;
    top: 0;
  }
  .draggable-bottom {
    cursor: grab;
    bottom: 0;
  }

  .list-block {
    position: relative;
    margin-bottom: 8px;
  }
}

div[data-contents="true"] {
  padding: .5rem;

  > * {
    display: block;
    padding: 4px 9.5rem 4px 10px;
    margin-bottom: 4px;
    font-size: 1rem;
    word-spacing: .17em;
    min-height: 47px;
    border-radius: 2px;
    background: none;

    &:last-child {
      margin-bottom: 0;
    }
    &.hidden-block {
      opacity: 0 !important;
    }
    &.block-update {
      box-shadow: 0 0 0 1px $danger;
    }
    &.block-not-published {
      box-shadow: 0 0 0 1px $warning;
    }
    &.block-active {
      box-shadow: 0 0 0 1px $gray-600;
    }
    &.block-invalid {
      background-color: #fef1f1;
      box-shadow: 0 0 0 1px $danger;
      position: relative;

      &:after {
        top: 5px;
        right: 10px;
        content: "INVALID";
        position: absolute;
        font-size: 0.85rem;
        font-weight: bold;
        color: $danger;
      }
    }
    &.insert-marker {
      width: 100%;
      padding: 0;
      min-height: 0;
      border-radius: 2px;
      box-shadow: 0 0 0 1px $secondary, 0 0 2px 3px rgba($secondary, .3), $shadow-depth-5;

      [data-bs-theme=dark] & {
        box-shadow: 0 0 0 1px $secondary, 0 0 2px 3px rgba($secondary, .5), $shadow-depth-3, $shadow-depth-6;
      }
    }
    &.text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding-top: 5px;
      padding-bottom: 6px;
    }
  }
  > ol, ul {
    padding-left: 2rem;
  }
}

.block-preview {
  user-select: none; // selecting text in a preview will open the inline toolbar

  .placeholder-button-holder {
    margin-top: 0.5rem;
    width: 100%;

    .label {
      width: auto;
      max-width: calc(100% - 40px);
    }
    .placeholder-button {
      clear: none;
    }
  }
}

.block-preview-article,
.block-preview-audio,
.block-preview-image,
.block-preview-video {
  max-width: 480px;
  margin: 0;
}

.block-buttons-holder {
  right: 15px;
  position: absolute;

  .is-first {
    margin-top: 0;
  }

  .is-first.is-last {
    margin-top: 20px;

    .btn--paste-block {
      margin-top: 0;
    }
  }

  .btn--paste-block {
    margin-top: 20px;
  }
}



// END EDITOR STYLES //

// BEGIN INLINE TOOLBAR STYLES //

.inline-toolbar {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  // transform: translate(-50%) scale(0);
  border-radius: 4px;
  padding: 2px;
  background: $gray-900;
  box-shadow: $shadow-depth-4;
  z-index: 2;
  max-width: 132px;
  margin-top: 600px;

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    border-top-color: $gray-900;
    border-width: 7px;
    margin-left: -7px;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  @media (min-width: 1480px) {
    flex-wrap: nowrap;
    max-width: none;
  }
}

// END INLINE TOOLBAR STYLES //

// BEGIN INLINE TOOLBAR BUTTON STYLES //

.inline-toolbar-button-wrapper {
  display: inline-flex;
}

.inline-toolbar-button {
  border: 0;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  background: $gray-900;
  color: $body-color-light;

  &:hover,
  &:focus {
    background: $gray-800;
    outline: 0;
  }
}

.inline-toolbar-button-active,
.inline-toolbar-button-active:hover,
.inline-toolbar-button-active:focus {
  background: $secondary;
  color: $white;
}


// BLOCK PLACEHOLDER STYLES

.block-placeholder-thumbnail {
  width: 3rem;
  display: inline-flex !important;
  vertical-align: middle;
  cursor: pointer;
  white-space: normal;
  border-radius: 3px;

  .icon-group + &  {
    margin-top: .5rem;
  }
}
